[2020-11-06 20:07] kokes opened #9 "Avoid naked exceptions"
(deleted the issue template as this is not a bug per se)

The `fetch_dataframe` [features](https://github.com/aws/amazon-redshift-python-driver/blob/master/redshift_connector/cursor.py#L282) a naked exception (`except:`), which is not the safest of patterns as very sneaky bugs can get introduced by this. I understand this exception handling is probably due to the bytes/string duality of the descri

[2020-11-06 20:20] kokes opened #10 "Reduce the number of dependencies"
## Driver version
2.0.405

## Problem description

For a database driver, this library has a number of some fairly large dependencies. From what I can tell, `numpy` and `pandas` are only being used in a handful of methods, they are not core to the library, so they could easily be optional dependencies. That would reduce the load and installation issues quite substantially. A case could be made for

[2020-11-06 20:25] kokes opened #11 "Mismatch between requirements.txt and setup.py"
## Driver version
2.0.405

## Problem description

There's quite a strict requirement for pandas in setup.py (`==0.25.3`), but I see a looser one in requirements.txt (`>=0.25.3<1.1.0`). This poses two problems:

1. One then cannot quite pinpoint what the requirement really is and why it differs in these two places.
2. The library unnecessarily depends on an old version of pandas (v1.0 was released

[2020-11-09 17:36] Brooke-white commented on #9
Hey @kokes ,

Thank you for raising this issue. I agree the exception handling here could be improved, and doing do would make debugging much easier :). I've opened a ticket in our internal tracking system for this change and will post an update here once the change has been made.

--brooke

[2020-11-09 17:45] Brooke-white commented on #11
Hey @kokes,

Thank you for your feedback.

1. I agree that moving all requirements to `setup.py` would simplify things on all fronts.
2.  The strict requirement on pandas `==0.25.3` in `requirements.txt` is incorrect, and what's specified in `setup.py`, `>=0.25.3<1.1.0`, is correct.

I'll open a ticket in our internal tracking system to address these two issues and will post an update here once th

[2020-11-10 00:10] Brooke-white commented on #10
Hey @kokes,

Good point -`numpy` and `pandas` are used in just a handful of functions and could easily be changed to be optional dependencies, so everyone isn't forced to install them :). Thanks for taking a look & providing this feedback! I'll provide an update here once the change is in.

--brooke

[2020-11-10 04:30] 65usami opened #13 "Disable prepared statement?"
## Driver version
2.0.405

## Python version
3.8.3

## Problem description
I got this error when I execute multiple queries.

[code]

Is it possible to disable  prepared statement?
I want to execute multiple queries at one cursor.

[code]

[2020-11-16 18:34] Brooke-white commented on #13
Hi @65usami ,

Could you clarify what you mean by "execute multiple queries at one cursor"?

Per https://www.python.org/dev/peps/pep-0249/#id15, the `execute(...)` method executes a single database operation. `execute_many(...)` can be used for multiple database operations, though I'm not sure it fits the use case described in your code snippit. See https://www.python.org/dev/peps/pep-0249/#execut

[2020-11-18 07:08] mirosval commented on #11
Is there a reason for the `<1.1.0` bit? Pandas added support for Python 3.9 in 1.1.3 so as it is, this repo is not 3.9 compatible because of this (at least)

[2020-11-20 18:20] Brooke-white commented on #11
Hey @mirosval ,

We will be making `pandas` and `numpy` optional requirements with the next release, and remove the strict version requirements. The next release is planned for this coming Monday, November 23.

The `<1.1.0` bit is just outdated. I ran through our build and test suite with `Python 3.9` and `pandas-1.1.4` and am not seeing any issues at this time.

[2020-11-23 18:06] Brooke-white commented on #9
This issue has been addressed in release [v2.0.659](https://github.com/aws/amazon-redshift-python-driver/tree/v2.0.659)

[2020-11-23 18:06] #9 closed

[2020-11-23 18:07] Brooke-white commented on #10
Hey @kokes,

We have made `numpy` and `pandas` optional dependencies as of release [v2.0.659](https://github.com/aws/amazon-redshift-python-driver/tree/v2.0.659), thanks again for your feedback :)

[2020-11-23 18:07] #10 closed

[2020-11-23 18:08] Brooke-white commented on #11
Hi all,

We've addressed the versioning mis-match for `pandas` - and made both `pandas` and `numpy` optional dependencies. The strict version requirements for those packages has been removed for now as well, given the use of these packages is limit at this time. These changes are in release [v2.0.659](https://github.com/aws/amazon-redshift-python-driver/tree/v2.0.659)

[2020-11-23 18:08] #11 closed

[2020-11-30 17:13] Brooke-white commented on #13
Closing as no response received, please re-open if you have more to add.

[2020-11-30 17:13] #13 closed

[2020-12-01 10:49] 65usami commented on #13
Sorry late reply.
I understood your answer and Thank you very much your advice.
I will follow your advice.

[2021-01-05 15:46] FaridNeshat-TomTom opened #15 "Allow authentication by environment IAM credentials"
## Driver version
v2.0.872

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.22169

## Client Operating System
Amazon Linux 2 for Python 3.8 Lambda

## Python version
Python 3.8

## Problem description

I would like the driver to authenticate via the environment IAM credentials(for examples in AWS Lambda environ

[2021-01-06 01:11] renebrandel opened #16 "Incorrect buffer size calculation leads to failed query execution"
## Driver version
2.0.872

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.19628

## Client Operating System
Mac OS 10.15.7

## Python version
Python 3.8.2

## Problem description
1. Expected behaviour: No errors when executing a query.
2. Actual behaviour: Errors out because of a buffer size miscalculation nea

[2021-01-06 01:18] Brooke-white commented on #16
Hey Rene,

Thanks for reaching out regarding this issue. I'll take a look into it and share my findings.

[2021-01-06 01:38] Brooke-white commented on #16
There is an intentionally undocumented parameter for `redshift_connector.connect(...)`, `client_protocol_version`. Passing `client_protocol_version=0` should provide a work around for the time being.

[2021-01-07 23:45] Brooke-white commented on #15
Hey @FaridNeshat-TomTom ,

Thank you for reaching out regarding IAM authentication. My team and I are currently working to add support for this functionality. We plan to support IAM authentication via AWS profile or directly passing IAM credentials to the `redshift_connector.connect(...)` method.

Please see [here](https://docs.aws.amazon.com/redshift/latest/mgmt/options-for-providing-iam-credenti

[2021-01-08 01:19] Brooke-white commented on #16
A fix will be provided in the next release to resolve this issue, for now the above workaround is the suggested.

[2021-01-08 08:55] FaridNeshat-TomTom commented on #15
Yes, that'd be great. I assume if they are not provided, boto3 default logic for acquiring the credentials will kick in(from environment, or `~/.aws/credentials` or IAM roles: https://boto3.amazonaws.com/v1/documentation/api/latest/guide/credentials.html#guide-credentials), which would make it as seamless as using boto3 or AWS CLI.

[2021-01-20 18:18] Brooke-white commented on #16
The recommendation for resolving this issue is to upgrade the cluster version.  See [Amazon Redshift Maintenance Forum Announcements](https://forums.aws.amazon.com/forum.jspa?forumID=155&start=0) for information about available Amazon Redshift cluster versions, and their features, improvements, and fixes.

If updating the cluster version does not fit your use case, the above work around will resol

[2021-01-20 18:18] #16 closed

[2021-01-25 17:29] Brooke-white commented on #15
Hey @FaridNeshat-TomTom ,

Thanks for your patience, we've added support for this in our latest release, v2.0.873.

Yes, if credentials are not provided the default `boto3` logic kicks in. A `region` must be provided either in AWS config file (which will be picked up by `boto3`) or be passed as an argument to `redshift_connector.connect(...)`

[2021-01-25 17:47] FaridNeshat-TomTom commented on #15
Hi @Brooke-white

Thanks for taking care of this. I guess this can be closed now.

One thing caught my eye looking at the documentation, is that the usage with the IAM credentials is a little bit awkward because user and password has to be passed but their value is ignored and then one has to care db_user has to be passed as well.

[2021-01-25 17:49] Brooke-white commented on #15
Thank you for the feedback -- I'l pass it along to my team and see what we can do there :)

[2021-01-25 17:49] #15 closed

[2021-02-15 19:34] AlexVielfaure opened #18 "SAMLAssertion interface error"
Hi,

I am trying to use the redshift_connector with IAM credentials but when I put all the parameters and run the redshift_connector.connect function I get the following interface error : Failed to retrieve SAMLAssertion.

I am using 'PingCredentialsProvider'

Thanks !

[2021-02-15 21:36] AlexVielfaure commented on #18
I was able to resolve this issue by changing some line of code. Not sure if it case specific but if anyone comes across a similar issue  I can share the change I made.

[2021-02-15 21:46] Brooke-white commented on #18
Hi @AlexVielfaure ,

Could you share the change you made to resolve this issue as well as the version of `redshift_connector` where this issue is seen?

Thanks

[2021-02-16 13:42] AlexVielfaure commented on #18
Hi Brooke,

I am using the 2.0.873 version of the connector. I was facing this issue with the PingCredentialsProvider. I changed a line of code in the 'redshift_connector\plugin\ping_credentials_provider.py' file.

The URL in line 91 was giving me an expired page. I changed the line to (which is the URL that was used line 31):
url: str = "https://{host}:{port}/idp/startSSO.ping?PartnerSpId={sp_id}

[2021-02-16 18:54] Brooke-white commented on #18
Thank you for the additional information, I will look into this and provide an update with my findings.

[2021-02-16 20:27] Brooke-white commented on #18
1. If you clear the web browser cookies does the issue persist?
2. Is this issue occurring consistently?
3. Which identity provider are you using? PingOne? PingFederate?
4.

[2021-02-16 20:40] Brooke-white commented on #18
Hey @AlexVielfaure ,

Are you using PingFederate or PingOne as your identity provider?

I ask because if you are using PingOne, you will want to use `BrowserSamlCredentialsProvider`. `PingCredentialsProvider` is intended for use with PingFederate. Adding more documentation regarding identity provider plugins is a work in progress.

For PingOne there are steps detailed in this AWS blog for [Federat

[2021-02-25 16:33] meih opened #19 "Cannot connect to Redshift with IAM credentials"
## Driver version

2.0.874

## Redshift version

Redshift 1.0.23412

## Client Operating System

Mac OS 10.15.7

## Python version

3.9.1

## Table schema

N/A

## Problem description

1. Expected behaviour:
I can connect to Redshift using IAM credentials, with the following values specified (as written in the README):

[code]

2. Actual behaviour:
It failed with the following error message, altho

[2021-02-25 20:10] iggarish commented on #19
Thanks for reporting issue. We will look into the issue and get back to you.

[2021-03-03 11:24] GergelyKalmar opened #20 "Missing connection autocommit documentation"
It is unclear at the moment whether autocommit can be turned on on a given connection. From https://github.com/aws/amazon-redshift-python-driver/blob/master/redshift_connector/core.py#L417 it seems that it should be possible by setting `connection.autocommit = True`, but it is unclear if this would work as expected. It would be great to document this.

[2021-03-03 11:57] ismailsimsek opened #21 "Executing multi statement queries"
is it possible to run multi statement sql queries?
or is it possible to set this parameter `allowMultiQueries=true` to allow multi statements?

[code]

currently running multi statement queries failing with following error

[code]

related to #13

[2021-03-03 18:34] hunter-moeller opened #22 "Invalid version specifiers in requirements.txt"
## Client Operating System
Linux

## Python version
3.7.9

## Problem description
Package version syntax without delimiting commas is used in requirements.txt.  For example [here](https://github.com/aws/amazon-redshift-python-driver/blob/master/requirements.txt#L3).  I would expect that to be `beautifulsoup4>=4.7.0,<4.8.0`.

When installing `redshift_connector` via pip (within a conda environment)

[2021-03-03 18:46] hunter-moeller commented on #22
I need to correct the above.  I am running in an error when _exporting_ a conda environment that has `redshift_connector` installed.  I am able to create the conda environment and pip install `redshift_connector` into it without issue.
[code]
gives
[code]

[2021-03-03 18:55] Brooke-white commented on #20
Hey @GergelyKalmar ,

Thanks for reporting this issue -- we will add some documentation regarding auto commit in our next release. By default `connection.autocommit` is set to `False` per PEP-249 [ref](https://www.python.org/dev/peps/pep-0249/#commit)

[2021-03-03 19:26] Brooke-white commented on #21
Hey @ismailsimsek ,

At this time this functionality is not supported in `redshift_connector` because prepared statements are always used for execution.

You could use an approach similar to shown below:
[code]

If the approach poses above doesn't help, providing some more details about your use case either in this issue or directly to the Amazon Redshift Driver team via redshift-drivers[at]amazon

[2021-03-03 19:39] Brooke-white commented on #22
Hey @hunter-moeller ,

Thank you for raising this issue. The team will take a look into reproducing and resolving this issue and provide an update shortly.

[2021-03-03 19:52] Brooke-white commented on #19
Hi @meih ,

Thank you for your patience. We plan to include a fix for this issue in the next release of `redshift_connector`, which is next week.

[2021-03-03 20:08] GergelyKalmar commented on #20
It might be a good idea to expose this option through an argument for `Connection.__init__` too. Would manual rollbacks still be needed on DatabaseErrors with autocommit?

[2021-03-03 21:41] Brooke-white commented on #20
Thank you for the feedback regarding providing adding `autocommit` as an argument to `Connection.__init__` -- I will share this with the team and keep you updated.

That is correct, `rollback()` must be called manually

[2021-03-04 00:07] meih commented on #19
@Brooke-white
Sounds great, thank you!

[2021-03-04 11:01] GergelyKalmar commented on #20
Awesome, thank you very much for the help!

[2021-03-04 17:12] Brooke-white commented on #22
Hey @hunter-moeller ,

When taking the steps you described:
1. `conda create --name myenv`
2. `conda activate myenv`
3. `conda install pip`
4. `pip install redshift_connector`
5. `conda env export -n myenv`

I was able to reproduce this error. We will be including a fix for this in our next release of `redshift_connector`, which is scheduled to occur next week.

As a sidenote -- if `redshift_conne

[2021-03-04 17:14] hunter-moeller commented on #22
Awesome, thank you for investigating this.

[2021-03-05 13:02] GergelyKalmar opened #23 "Make cursor paramstyle configurable"
Currently `connection.cursor()` does not seem to allow specifying the paramstyle for the returned cursor – it would be great if this functionality could be exposed. I assume that setting `cursor.paramstyle` to the desired value should work as expected, but this does not seem to be documented at the moment.

[2021-03-05 15:34] GergelyKalmar opened #24 "Parameterized limit throws an error"
## Driver version
2.0.874

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.24019

## Client Operating System
Ubuntu 20.04

## Python version
3.8.5

## Table schema
The error should be reproducible on any non-system table.

## Problem description
1. Expected behaviour: Results are printed when a parameterized li

[2021-03-05 17:25] Brooke-white commented on #23
Hey @GergelyKalmar ,

The team is currently in the process of improving documentation for `redshift_connector`, I'll forward along your feedback so we can improve transparency of `paramstyle`.

In the meantime, I've quickly jotted down some high-level examples of each of the `paramstyle` types.

- Valid values for `paramstyle` are `qmark`, `numeric`, `named`, `format`, and `pyformat`
- The default

[2021-03-05 17:28] Brooke-white commented on #24
Hey @GergelyKalmar ,

Thanks for reaching out regarding this issue. The team will take a look into this and follow up shortly with findings.

[2021-03-05 17:52] GergelyKalmar commented on #23
Wonderful, thank you very much!

[2021-03-05 17:55] GergelyKalmar commented on #24
One more note: I've quickly checked and it seems that parameterized `LIMIT` clauses work fine with the official `JDBC` driver.

[2021-03-08 17:48] Brooke-white commented on #19
Hi @meih ,

We've released [v2.0.875](https://github.com/aws/amazon-redshift-python-driver/blob/master/CHANGELOG.md#v20875-2021-03-08) of `redshift_connector`, which includes a fix for this issue. I'll be closing this issue, but feel free to re-open if you continue experiencing issues with IAM credentials.

[2021-03-08 17:48] #19 closed

[2021-03-08 17:49] Brooke-white commented on #20
Documentation for `autocommit` has been added as of [v2.0.875](https://github.com/aws/amazon-redshift-python-driver/blob/master/CHANGELOG.md#v20875-2021-03-08)

[2021-03-08 17:49] #20 closed

[2021-03-08 17:50] Brooke-white commented on #22
Fix for this issue provided in [v2.0.875](https://github.com/aws/amazon-redshift-python-driver/blob/master/CHANGELOG.md#v20875-2021-03-08)

[2021-03-08 17:50] #22 closed

[2021-03-13 13:02] meih opened #25 "Column names in cursor.description contain unnecessary characters"
## Driver version

2.0.876

## Redshift version

Redshift 1.0.23412

## Client Operating System

Mac OS 10.15.7

## Python version

3.9.1

## Table schema

bookname varchar
author‎ varchar

## Problem description

1. Expected behaviour:
When the table has columns `bookname` and `author`, column names in cursor.description are also available as `bookname` and `author`.

2. Actual behaviour:
What I

[2021-03-15 16:08] Brooke-white commented on #25
Hi @meih ,

Thanks for reaching out regarding this issue. The team will investigate this behavior and get back to you with our findings :)

[2021-03-15 16:58] Brooke-white commented on #24
Hi @GergelyKalmar ,

Using the following setup:
- `redshift_connector==2.0.876`
- `Mac OS 10.15.7`
- `PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.24421`

I created some test users:
[code]

After executing the above statements, the relevant columns from my`pg_catalog.pg_users` are as follows:

|usename|usesysid|
|--------|-----

[2021-03-15 18:41] GergelyKalmar commented on #24
Hi @Brooke-white,

I have also noticed that the query works when executed against system tables, it does not work however when executed against other (regular) tables. Can you try to create a new table in a regular schema and see if you can reproduce the issue then?

[2021-03-15 20:45] Brooke-white commented on #24
Hey @GergelyKalmar ,

Apologies for the confusion, when using a regular table I am able to reproduced the behavior you detailed above. I'll continue investigating this and provide an update with my findings shortly.

[2021-03-16 01:39] meih commented on #25
Great, thank you!

[2021-03-17 19:58] bmoscon opened #26 "Asyncio Support"
This is more a feature request/question. Are there any plans to support asyncio in this project? I dont see anything in the code, docs, or open/closed tickets about this, so maybe I'm the first to ask?

[2021-03-17 21:38] Brooke-white commented on #26
Hey @bmoscon ,

Thanks for reaching out. Could you share a bit about your use case and how asyncio support would be beneficial to your project? We have not had any customer requests for this functionality so far, but the Redshift drivers team will discuss your request and let you know.

[2021-03-17 21:54] bmoscon commented on #26
my application uses asyncio and I want to write data to redshift. If i do not use an asyncio enabled driver, it will block the event loop while the write is pending. Since I anticipate a lot of writes, this can be a large bottleneck on the performance of the application. I'm not sure how familiar you are with asyncio, but typically once you decide to make use of aio you need to use async libraries

[2021-03-18 16:07] #23 closed

[2021-03-18 16:07] Brooke-white commented on #18
closing this as I haven't heard back, please re-open if you are still experiencing issues.

[2021-03-18 16:07] #18 closed

[2021-03-18 21:04] Brooke-white commented on #26
Thanks @bmoscon !

Could you describe the driver functionalities that would need to support the asyncio framework for your use case? I'm not very familiar with asyncio, but assume operations like `execute()`, `fetch()`, `connect()`, and maybe more, would need to support aio.

Also, could you provide a code snippet of how you imagine using an asyncio enabled redshift_connector.

[2021-03-19 15:22] meih commented on #25
@Brooke-white
Hi, is this reproduced on your end?  I would like to know if this could be an issue on my end

[2021-03-19 16:23] Brooke-white commented on #25
Hi @meih ,

Yes I have been able to consistently reproduce this issue on my end. From what I see, the second column name is always impacted, even when a table with more than two columns is used.

We are investigating this issue internally, I'll provide an update here with our findings.

The issue seems related to the parsing of the row description. redshift_connector's implementation depends on a

[2021-03-19 16:37] Brooke-white commented on #25
Hi @meih ,

I was playing around with this issue a bit and pasted the queries in question into the Redshift query editor, which showed there is a "hidden" unicode character `\u200e` present after `author`. This is the cause of this issue. I've included a screenshot below which highlights this character.

If you try executing the statements pasted below, which do not contain this character, you sho

[2021-03-19 22:55] bmoscon commented on #26
`connect` is probably less important, but it would be useful if connect supported asyncio. Definitely methods/functions that interact with the database (for reading or writing data) will need to support aio to get any benefit out of it.

Some pseudocode would be something like this:

[code]

[2021-03-19 23:37] meih commented on #25
Hi @Brooke-white ,
Thanks for your investigation, it was nice to find out a code-specific issue and not a driver's.
And I've just figured out that the type of the column names was `bytes` and I needed to `decode()` them before using them as strings.

Problem solved. Thank you so much for your help!

[2021-03-19 23:37] #25 closed

[2021-03-26 08:10] kyri-petrou opened #27 "Cannon install with conda for python 3.8 & 3.9"
## Client Operating System
Ubuntu 20.04

## Python version
3.8 and 3.9

## Problem description
Cannot install with conda (conda-forge channel) in environments with python versions 3.8 and 3.9 (works with 3.6 and 3.7)

1. Expected behaviour:
To be able to install the package using conda

2. Actual behaviour:
Not able to install package using conda

3. Error message/stack trace:
[code]
4. Any other

[2021-03-26 15:25] Brooke-white commented on #27
Hey @kyri-petrou ,

Thanks for reaching out regarding this issue. Could you share which version of `redshift_connector` you are using?

[2021-03-26 15:43] Brooke-white commented on #27
I've been able to reproduce this issue, a fix will be provided in the next release which is scheduled to occur this coming Monday March 29th.

[2021-03-28 02:30] kyri-petrou commented on #27
Okay thanks for the update! Glad I could be of help

[2021-03-29 15:16] jackmokcx opened #28 "Is it possible hidden the password or other credential from Connection Object ?"
## Driver version

## Redshift version

## Client Operating System

## Python version

## Table schema

## Problem description

1. Expected behaviour:
2. Actual behaviour:
3. Error message/stack trace:
4. Any other details that can be helpful:

## Python Driver trace logs

## Reproduction code

[2021-03-29 17:32] Brooke-white commented on #28
Hey @jackmokcx ,

Thanks for reaching out. Using an Identity Provider (IdP) plugin can allow you to access an Amazon Redshift cluster without directly providing AWS credentials and password. The following IdPs are supported:
- Active Directory Federation Services via `AdfsCredentialsProvider`
- Okta via `OktaCredentialsProvider`
- PingFederate via `PingCredentialsProvider`
- Microsoft Azure Active

[2021-03-29 21:52] #21 closed

[2021-03-29 23:10] Brooke-white commented on #27
Hi @kyri-petrou ,

Thank you for your patience. We've released a new version of `redshift_connector` that addresses this issue, `v2.0.877`. It is now available on conda.

I have verified the issue is resolved by running the command you provided, `conda create -n my_env -c conda-forge python=3.8 redshift_connector -y`. Please reach out if you continue to experience this issue.

[2021-03-29 23:10] #27 closed

[2021-04-02 16:43] Brooke-white commented on #26
Hi @bmoscon ,

Thank you for your patience. After discussing this feature internally, the team has determined it does not fall on our roadmap for the immediate future.

[2021-04-05 15:45] GergelyKalmar opened #31 "Parameterized unload throws an error"
## Driver version
2.0.877

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.25109

## Client Operating System
Ubuntu 20.04

## Python version
3.8.5

## Table schema
N/A

## Problem description
1. Expected behaviour: An unload is executed successfully when a parameterized expression is used.
2. Actual behaviour:

[2021-04-05 17:00] Brooke-white commented on #31
Hi @GergelyKalmar ,

Thank you for reaching out. I was able to reproduce the behavior you saw using the code snippet included.

Amazon Redshift does not support prepared statements for `UNLOAD`, and therefore `redshift_connector` does not support this functionality.

Amazon Redshift supports prepared statements for `SELECT`, `INSERT`, `UPDATE`, and `DELETE`. See Amazon Redshift [Database Developer

[2021-04-05 19:43] Brooke-white commented on #24
Hi @GergelyKalmar ,

This issue can be resolved by passing the parameter for the limit clause as a string. For example

[code]

[2021-04-05 19:46] #26 closed

[2021-04-05 19:51] #28 closed

[2021-04-05 19:51] #24 closed

[2021-04-07 08:58] GergelyKalmar commented on #24
Splendid, that seems to have worked! A little unexpected that a string would work but an int wouldn't.

[2021-04-13 09:01] GergelyKalmar commented on #31
Hi @Brooke-white, thank you for the response!

Hm, this is interesting because [sqlalchemy-redshift](https://github.com/sqlalchemy-redshift/sqlalchemy-redshift) does in fact use [bound parameters](https://github.com/sqlalchemy-redshift/sqlalchemy-redshift/blob/master/sqlalchemy_redshift/commands.py#L320) for its unload statements and it works just fine (although it uses the PostgreSQL driver under

[2021-04-14 18:04] Brooke-white commented on #31
Hey @GergelyKalmar ,

Yes, this is a strange issue. I've verified our Amazon Redshift JDBC driver does not support using bound parameters for unload statements, which along with the reference I included above [ref](https://docs.aws.amazon.com/redshift/latest/dg/r_PREPARE.html) makes me wonder if psycopg2, the PostgeSQL driver used for sqlachemy-redshift, is doing something differently than redshif

[2021-04-15 01:26] Brooke-white commented on #31
Hey @GergelyKalmar ,

The Amazon Redshift server team has confirmed that this functionality is not supported. The content in `()` must be a single quote string that contains a query. See [UNLOAD - Amazon Redshift](https://docs.aws.amazon.com/redshift/latest/dg/r_UNLOAD.html) for more details.

[code]

As for how psycopg2 is supporting bound parameters here -- I am unsure, but would assume the serv

[2021-04-15 08:12] GergelyKalmar commented on #31
Hi @Brooke-white, the best solution would be if UNLOAD would allow us to use a sub-query (just like a CREATE TABLE AS expression does) instead of expecting the query as a string (while allowing us to bind parameters too, of course). Right now it would be difficult to avoid SQL injection attacks even if we could bind parameters like sqlalchemy-redshift does (at least in cases where the 'select-stat

[2021-04-16 23:13] mandywoo opened #32 "How can I upload a pandas dataframe to redshift?"

[2021-04-19 16:16] Brooke-white commented on #32
Hi @mandywoo ,

Thank you for reaching out. Pandas dataframes can be written to an Amazon Redshift table using `cursor.write_dataframe()`.

A usage example can be found in our unit test suite, [here](https://github.com/aws/amazon-redshift-python-driver/blob/31ffbb5d0e6d3cd8628d1d8139e7a9aab96bfb0e/test/integration/test_pandas.py#L60).

The doc-string for `write_dataframe()` can be found [here](htt

[2021-04-21 07:15] #32 closed

[2021-05-07 21:46] els-pnw opened #33 "redshift-connector does not work as expected or reliably and the docs are a mess"
I have created a connection using redshift-connector and I'm finding a number of possible issues. All I'm trying to do is setup a (reliable) function within my library that will create the cursor and execute the passed sql statement with autocommit enabled, we need to support at a minimum delete from and select from.

Connection setup:
[code]
Note that in my library we use the @property decorator

[2021-05-07 22:52] Brooke-white commented on #33
Hi @els-pnw ,

Thank you for reaching out and providing feedback. I will pass your thoughts along to the team.

Please provide the following information so I can further look into this issue:

1. Driver version
2. Redshift version
3. Client Operating System
4. Python version

The behavior you describe, nothing being deleted, is expected in this case because `autocommit` is disabled by default per

[2021-05-07 23:01] Brooke-white commented on #33
For sqlalchemy, this link maybe helpful: https://docs-sqlalchemy.readthedocs.io/ko/latest/faq/connections.html#how-do-i-get-at-the-raw-dbapi-connection-when-using-an-engine

[2021-05-10 13:24] els-pnw commented on #33
Thank you @Brooke-white  for the pointers and I apologize that I forgot to include the part of my code where I am setting `conn.autocommit=True`.    To answer your questions:

- Driver version
`select version()` returns: PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.26365
- Redshift version
See previous
- Client Operating System

[2021-05-19 15:08] jaklan opened #34 "Update scramp dependency constraints to allow usage of version 1.4.0"
Related issue:
https://github.com/awslabs/aws-data-wrangler/issues/704

Changelog for `scramp`:

Raise an exception if the client receives an error from the server.

[2021-05-19 15:59] Brooke-white commented on #34
Hi @jaklan, thank you for reaching out about this issue. The team is working on a fix for this issue and plans to make a release this coming Monday, May 24th.

[2021-05-19 17:41] Brooke-white commented on #34
Hi @jaklan , release [2.0.811](https://github.com/aws/amazon-redshift-python-driver/blob/v2.0.881/CHANGELOG.md#v20881-2021-05-19) has been made. This release updates the scramp dependency. Please reach out if you continue to experience issues with redshift_connector and pipenv

[2021-05-19 17:54] jaklan commented on #34
Great to hear! Thanks for the quick reaction 😉

[2021-05-19 17:54] #34 closed

[2021-05-21 16:20] Brooke-white commented on #33
Hi @els-pnw ,

Were you able to resolve the hanging statement issue?

As a side note, the Amazon Redshift drivers team is working to develop a sqlalchemy dialect built on top of redshift-connector. We'd love to hear any feedback you can share about the features and functionalities you and your team would find useful in this product.

[2021-05-21 17:00] jacwillis opened #38 "Redshift Driver Requires user and password for Adfs Authentication when user and password are null"
## Driver version
2.0.0.0.4

## Client Operating System
Windows

## Python version
Python 3.8.3

## Problem description
I'm trying to connect to a redshift database using Adfs Authentication without a username or password. However, when I insert user='',password='' the system rejects it. I saw there was a commit ~10 days ago trying to fix this issue, but it appears to fail within the iam_helper.py

[2021-05-21 18:54] Brooke-white commented on #38
Hey @jacwillis ,

Thanks for reaching out regarding this issue and digging into the code. Could you clarify what you mean by

When working with the ADFSCredentialsProvider, the `user` and `password` parameters to the `connect(...)` method are usually populated with the `user` and `password` values for authenticating with the ADFS server that has been set up. For example:

[code]

[2021-06-19 23:46] maddy2u opened #39 "Execute .SQL files"
I want to be able to execute full .SQL files by passing them through the driver. How can i do that?

[2021-06-21 16:15] Brooke-white commented on #39
Hi @maddy2u ,

The driver does not support that functionality at this time, so some pre-proccessing would need to occur in your script before passing the individual statements to the driver. Something like the code snippit below could work:

[code]
I will chat with the team to see if we can add support for executing `.SQL` files directly and update this issue with my findings.

[2021-06-25 20:11] maddy2u commented on #39
Thanks. Any update on the above. Would be a good functionality to have inbuilt.

[2021-06-25 20:24] Brooke-white commented on #39
Hey @maddy2u ,

To support executing `.SQL` files directly we would need to re-work how the driver sends statements to the Amazon Redshift server. Currently, prepared statements are used in all cases-- which prevents us from supporting mult-statements such as:

[code]

this also prevents us from supporting `.SQL` file execution. We would need to move from using prepared statements to statements to

[2021-06-26 19:41] maddy2u commented on #39
Makes sense. Looking forward to your response @Brooke-white ! Thank you.

[2021-06-28 22:42] Brooke-white commented on #39
Hi @maddy2u ,

At this time we do not plan to add functionality to execute `.SQL` files using `redshift_connector`. Parsing SQL is a big undertaking -- enough so that an entire project, [sqlparse](https://github.com/andialbrecht/sqlparse), has been dedicated to it.

We are continuing to scope work for supporting multi-statement execution.

Here's an example of how `sqlparse` could be used for exec

[2021-07-02 08:13] ivica-k opened #40 "IdP url opened twice"
## Driver version
2.0.882

## Redshift version
Not a Redshift problem

## Client Operating System
MacOS Big Sur

## Python version
3.7.7

## Table schema
Not a Redshift problem

## Problem description
Connecting to a Redshift cluster with credentials being provided by IdP (Okta in this case) results in Okta `login_url` page being opened twice if I have already signed in previously. To make it a bi

[2021-07-02 15:41] Brooke-white commented on #40
Hi @ivica-k ,

Thank you for reaching out. At this time, redshift_connector is not displaying the "Thank you for using Amazon Redshift! You can now close this window." message following authentication. The team plans to fix this issue as the current behavior is confusing and not inline with our Amazon Redshift JDBC driver.

I will try and reproduce this behavior on my machine and get back to you w

[2021-07-02 16:13] Brooke-white commented on #40
HI @ivica-k ,

I was unable to reproduce the multi-redirect behavior you provided in the screen capture. To start off, I want to confirm that a new browser tab being opened for every execution of the included Python script is to be expected.

Here are the steps I followed, please let me know if I missed something.

My machine: Mac OD 10.15.7
My browser:  Google Chrome 91.0.4472.114
My Okta login U

[2021-07-05 11:42] ivica-k commented on #40
Hey @Brooke-white and thank you for being so prompt!

I followed your advice, which is:
1. Cleared all cookies
2. Logged into Okta.com and left https://bestseller.okta.com/app/UserHome open
3. Invoked the same script I provided in my previous message

Unfortunately this did not help - a new browser tab opened `IDP_LOGIN_URL` once, displayed the connection refused message, another tab opened the sa

[2021-07-07 22:52] Brooke-white commented on #40
Hi @ivica-k ,

Thank you for providing the debug log. `BrowserSamlCredentialsProvider` utilizes a cache to store the temporary AWS credentials retrieved after authenticating with the identity provider. There are two cases where the SSO URI would be opened twice
- The credentials retrieved from Okta expired before the authentication process could complete
- The cache is misbehaving somehow -- this

[2021-07-09 09:50] igorkaludjer commented on #33
We are also having the same issue with locks (transaction isolation) and had to revert to psycopg2

[2021-07-09 14:27] Brooke-white commented on #33
Hi @igorkaludjer , Could you share more about when the issues with locks are occurring? Is multithreading being used? Long running transactions?

[2021-07-09 14:42] ivica-k commented on #40
Thank you for the great explanation, you obviously know this library intimately. In the end, I believe timezones and timezone-aware `Expiration` field is the problem. As you probably know, AWS clocks are all in UTC, leading to this:

[code]

My timezone is `Europe/Belgrade` at the moment and it's 16:38 (4:38 PM). Credentials are "expired" as soon as they are created.

I would love to submit a PR f

[2021-07-09 15:22] igorkaludjer commented on #33
No multithreading, but one of the transactions is long running.

[2021-07-09 16:24] Brooke-white commented on #40
Hi @ivica-k ,

Thank you for taking the time to dive into this issue. I am happy we have been able to determine a root cause for this issue...this also explains why I was unable to reproduce as my timezone is PST :)

The team would be happy to have your contribution for this issue -- the edit you provided looks good!

Back to the "Connection Refused" screen in the browser following authentication,

[2021-07-09 16:30] Brooke-white commented on #33
@igorkaludjer ,

Thank you for those details. I will dive into this issue and report back with my findings, though in the meantime I will point you towards [this issue](https://github.com/tlocke/pg8000/issues/16) opened against pg8000, which redshift_connector is based upon, which provides some measures that could be taken to prevent this behavior.

[2021-07-12 17:28] da-huin opened #41 "Can I insert param special string data as a value?"
## Driver version
2.0.882

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.27747

## Client Operating System
Amazon Linux

## Python version
Python 3.6.8

## Table schema

mid BIGINT NOT NULL,
message varchar(65535) NOT NULL

## Problem description

It works fine.
`
cursor.executemany('INSERT INTO sample (mid,m

[2021-07-12 20:54] Brooke-white commented on #41
Hi @da-huin ,

I ran the two following code snippits using Python. 3.9 but was unable to reproduce. If the code snippit  does not match your setup please let me know and I will adjust it.

[code]

[code]

In your script are there any long running transactions being executed? There is an open issue, #33 , where long running transactions can cause behavior like this to occur.

[2021-07-13 03:49] da-huin commented on #41
[code]

I ran it in a jupyter notebook, ran it once with a `hello`, changed it to a `:hello` and ran it again. So I mistook it for a param special string problem.
It works well when used with the `with` reserved word. Thank you!

[2021-07-13 03:49] #41 closed

[2021-07-14 08:33] ivica-k commented on #40
So, I was able to make it work in my timezone with this simple diff

[code]

What should happen with `self.expiration` in this case? Should it be changed based on the local timezone? Or should I maybe add `self.expiration_local` and change `self.expiration` to `self.expiration_utc` ?

[2021-07-14 16:40] Brooke-white commented on #40
Hey @ivica-k ,

Every `CredentialsHolder` object has an `expiration`. You can think of the `CredentialsHolder` class as wrapper around the temporary credentials retrieved when using IAM authentication.

Let's chat more in the PR, but I think we can keep `expiration` as is and do a conversion to the local timezone within `is_expired()`. We should probably add a `logging.debug` statement within this

[2021-07-16 17:10] dburtsev opened #43 "How to use redshift_connector from Glue?"
## Driver version
redshift_connector-2.0.882-py3-none-any.whl

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.27747

## Client Operating System
Glue 1.0

## Python version
Python3 Glue version 1.0

## Problem description

1. Expected behaviour:
Connect to the database
2. Actual behaviour:
CalledProcessError: C

[2021-07-16 19:43] Brooke-white commented on #43
Hi @dburtsev ,

Thanks for reaching out. The team will try to reproduce.

[2021-07-16 19:44] dburtsev commented on #43
Change job type from 'Python shell' to Spark 2.4 / Python 3
New error: ModuleNotFoundError: No module named 'scramp'

[2021-07-16 19:59] dburtsev commented on #43
ModuleNotFoundError: No module named 'asn1crypto'
I load scramp-1.4.0-py3-none-any.whl and asn1crypto-1.4.0-py2.py3-none-any.whl into s3 and add references to the job python library path.
New error: InterfaceError: ('communication error', NotADirectoryError(20, 'Not a directory'))

[2021-07-16 20:16] Brooke-white commented on #43
[Here](https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-libraries.html#addl-python-modules-support) is one option for importing redshift_connector to use with Glue.

If this option is not available to you , the following code block can be run on your development machine to download redshift_connector, and it's dependencies. These can be placed in an S3 bucket referenced by th

[2021-07-16 20:17] Brooke-white commented on #43
If the second option is appropriate for your use case, [zipping the dependencies and placing them in an S3 bucket](https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-libraries.html#aws-glue-programming-python-libraries-dev-endpoint) should work.

[2021-07-16 20:33] Brooke-white commented on #43
I have confirmed importing redshift_connector works using a Spark 2.4 / Python 3 job. The approach detailed below was easiest for me to get working.

If you are working from the AWS Console.
- Click to edit the Glue job
- Under the Security configuration, script libraries, and job parameters tab scroll to the Job parameters section
- Set the key to `--additional-python-modules` and the value to `r

[2021-07-17 13:03] dburtsev commented on #43
I add --additional-python-modules key
Got new error: Command failed with exit code 1
How many libraries do you have in Python library path? I have only redshift_connector, scramp and asn1crypto

[2021-07-17 15:55] dburtsev commented on #43
It works now.
I misspell library and got "Command failed with exit code 1" - fixes
I got "NotADirectoryError: [Errno 20] Not a directory" - fixed by adding SSL = False in redshift_connector.connect

[2021-07-17 15:55] #43 closed

[2021-07-20 01:22] bentkibler opened #45 "Unable to bind array values to IN/ANY query"
## Driver version
2.0.882

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.28422

## Client Operating System
Amazon Linux 2

## Python version
3.8

## Problem description
1. Expected behaviour:  I would like to use 'where col = any(%s)' syntax to provide a potentially very large list of client-supplied values a

[2021-07-20 17:15] #40 closed

[2021-07-20 17:16] Brooke-white commented on #38
closing this issue for now, please feel free to re-open if you're still experiencing any issue

[2021-07-20 17:16] #38 closed

[2021-07-20 21:14] bentkibler commented on #45
One additional note: the sample code I provided works fine with psycopg2.  Looking in the redshift query logs, I noticed a difference: the redshift_connector seems to be using bind variables (which might also leverage prepared statements), whereas psycopg2 seems to pre-populate the SQL statement with the contents of the array.  I prefer the redshift_connector approach of bind variables, but psycop

[2021-07-21 21:46] Brooke-white commented on #45
Hi @bentkibler ,

Thank you for reporting and digging into this issue. The team is working to identify the root cause.

[2021-07-21 22:21] Brooke-white commented on #45
I am able to reproduce this behavior.

When diving into why the following statement executes successfully:
`cursor.execute("SELECT oid, typname FROM pg_type WHERE oid = any(%(foo)s)", {"foo": [16, 22]})`

but this one fails:
`cursor.execute("select userid, query, starttime from SVL_QLOG WHERE userid = any(%(foo)s) limit 10", {"foo": [1,100]})`

I noticed the following
- In both cases, the array is

[2021-07-22 12:27] bentkibler commented on #45
Thanks for looking into this!  My interpretation of psycopg2's behavior is that it's not using bind variables, which is why it works.  The Redshift documentation is a bit contradictory: array datatypes are [not supported](https://docs.amazonaws.cn/en_us/redshift/latest/dg/c_unsupported-postgresql-datatypes.html), yet large IN clauses are [automatically converted](https://docs.amazonaws.cn/en_us/re

[2021-07-22 14:21] dburtsev opened #46 "multiline sql with transacr"
## Driver version

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.28422
## Client Operating System
Windows 10

## Python version
3.7 64bit
## Table schema
CREATE TABLE dev.test4(id INT IDENTITY, strng TEXT );

## Problem description

1. Expected behaviour:
return new identity from table
2. Actual behaviour: er

[2021-07-22 17:03] Brooke-white commented on #46
Hi @dburtsev ,

redshift_connector uses prepared statements when executing statements. This means that multi-statements are not supported at this time. At this time we recommend you split up the SQL statements prior to passing them to the `cursor.execute(...)` method.

[2021-07-22 18:01] dburtsev commented on #46
Will do

[2021-07-22 18:01] #46 closed

[2021-08-02 15:16] Beesblaas opened #49 "Azure credentials provider lowercase parameters"
## Driver version
2.0.883

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.28917

## Client Operating System
Ubuntu 20.04.2 LTS

## Python version
Python 3.8.10

## Table schema
N/A
## Problem description
Connection to Redshift using AzureCredentialsProvider

1. Expected behaviour: Connection successful.
2. Act

[2021-08-02 18:37] Brooke-white commented on #45
Hi @bentkibler ,

Thank you for your patience. After investigating this issue more I believe your thoughts are correct

Additionally, looking to our [Amazon Redshift JDBC Driver](https://github.com/aws/amazon-redshift-jdbc-driver), when using prepared statements users would need to pass an array as a string.

While a bit tedious, I believe the best solution here given the array limitations would b

[2021-08-02 18:38] Brooke-white commented on #49
Hi @Beesblaas ,

Thank you for reaching out. The team will work on reproducing this issue and determining its cause.

[2021-08-02 20:57] Brooke-white commented on #49
Hi @Beesblaas ,

In the code block you provided above,

[code]

If the value of `info.db_user` is not the same value you provided via the `db_user` connection parameter, that means it is being set to a different value while processing the SAML response from the given Azure enterprise application.

When taking a closer look at the code which overrides `RedshiftProperty` values based on the SAML res

[2021-08-02 20:58] Brooke-white commented on #33
Small update, I've been unable to reproduce this issue locally. If anyone can provide a repro I can continue to investigate this behavior.

[2021-08-03 08:27] Beesblaas commented on #49
Hi @Brooke-white

Thanks for the quick response. I updated it to ```elif``` and then removed the ```DbUser=str(info.db_user).lower()``` part back to ```DbUser=info.db_user```. And the connection worked.

I then further just tested by including ```db_groups``` in my connection parameters as we might use it later, but that also got the below error. If you want to have a further look into that.

Clie

[2021-08-03 16:38] Brooke-white commented on #49
Hi @Beesblaas ,

Glad to hear the modifications above resolved the `DbUser` issue. We will include these changes in our next release, scheduled to occur August 16th.

Thank you for sharing the `db_groups` related error. I was able to reproduce this.

There is a connection parameter `force_lowercase` that when set to `True` should force all `db_groups` values to be lowercase. I was planning to reco

[2021-08-10 18:18] Beesblaas commented on #49
Hi @Brooke-white

Sorry for only getting back now, and thanks for the quick responses. I am glad to assist where possible. I tested your change in regards to the  ```db_groups``` parameter and that worked as well. But  I realize I also have to use square brackets in the parameters for it to work, even if just passing one group as its a list. Missed that originally.

[code]

Let me know if you requ

[2021-08-10 19:43] Brooke-white commented on #49
Hey @Beesblaas ,

Awesome glad to hear that worked out :). We will make the db_groups fix a part of our next release, scheduled for August 16th, as well. Thanks again for your willingness in debugging and testing the issues at hand!

[2021-08-16 17:42] Brooke-white commented on #49
These fixes were included in release v2.0.885 made today. Please re-open this issue if you continue to experience this issue after using the latest release.

[2021-08-16 17:42] #49 closed

[2021-08-17 22:27] dburtsev opened #52 "AttributeError: 'Cursor' object has no attribute 'callproc'"
## Driver version

## Redshift version

PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.29551
## Client Operating System

Windows 10
## Python version

Python 3.7.3
## Table schema

create or replace procedure stage.sp_truncate(tables character varying)
language plpgsql as $plpgsql$

## Problem description

1. Expected behaviour:

[2021-08-17 22:46] Brooke-white commented on #52
It seems the `callproc()` method is currently un-implemented. The team will work to add this functionality to the `Cursor` class. thank you for bringing this issue to our attention!

[2021-08-18 00:05] Brooke-white commented on #52
@dburtsev -- support for `callproc()` will be included in our next release, scheduled for August 30th.

[2021-08-30 20:12] Brooke-white commented on #52
@dburtsev , release [v2.0.886](https://github.com/aws/amazon-redshift-python-driver/releases/tag/v2.0.886) has been made and contains support for this method. Please open a new issue if you experience any issue using `callproc()`. Thanks!

[2021-08-30 20:12] #52 closed

[2021-09-07 21:59] liuming commented on #39
@Brooke-white thanks for advising a workaround. It'll be nice to support multiple statements in a single execute call. I notice psycopg allow me to do this, but I was not able to identify exactly which line from its source code provides such support.

[2021-09-08 16:37] Brooke-white commented on #39
HI @liuming ,

No problem -- yes I agree it'd be much cleaner (and simpler) to support this in a single call to execute.

I believe psycopg supports this due to the approach taken to executing the statement. There are two approaches a driver can take to execute a statement -- [simple query cycle](https://www.postgresql.org/docs/11/protocol-flow.html#id-1.10.5.7.4) and [ extended query cycle](https

[2021-09-08 18:56] kylemcleland-fanduel opened #53 "404 Error when using OktaCredentialsProvider"
## Driver version
3.8

## Redshift version
`PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.29551`

## Client Operating System
Mac, ran locally

## Python version
3.8

## Table schema
n/a

## Problem description
1. Trying to replicate a JDBC connection in Python, to create a connection object.
2. Running following code to connect

[2021-09-08 19:58] Brooke-white commented on #53
Hi @kylemcleland-fanduel ,

Thank you for reaching out regarding this issue. My recommendation would be the following
- ensure you're using the latest release of redshift_connector
- enable debug logging using the [python logging library](https://docs.python.org/3/library/logging.html) and review the logs relevant to the following keywords: Okta, SAML. **Please be aware the contents of the logs wi

[2021-09-14 13:28] dburtsev opened #54 "cursor.callproc"
## Driver version

2.0.866
## Redshift version

PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.29551
## Client Operating System

Win10 64bit
## Python version

3.7
## Table schema

CREATE OR REPLACE PROCEDURE stage.sp_truncate (tables IN VARCHAR(65535))
LANGUAGE PLPGSQL AS $plpgsql$
-- usage: CALL stage.sp_truncate ('bi_report.co

[2021-09-14 18:10] Brooke-white commented on #54
Hi @dburtsev ,

Thanks for reaching out. The team will work on reproducing this and follow up with our findings shortly.

[2021-09-14 18:40] kylemcleland-fanduel commented on #53
@Brooke-white thanks for the response. Apologies for the delay in getting back on this.

It looks like the issue was with my app_id. The string looked like this 'bunchofcharacters/morecharacters' from the Okta portal. Weirdly I can log in using a JDBC client passing just 'bunchofcharacters' but adding the full string seems to get me further along in the connection phase. I'm going to close this is

[2021-09-14 18:40] #53 closed

[2021-09-14 19:00] kylemcleland-fanduel opened #55 ""No role found in SamlAssertion" when logging in via Okta"
# Resolution

I've resolved this issue on my own local version.
Solution: in the file: /redshift_connector/plugin/saml_credentials_provider.py

Line 99:

to

This worked in my case because `value.contents[0]` was a list with a trailing space after the comma. If we also want to be safe capture cases where there is not a trailing space, we can use another solution

## Driver version
Python 3.8

## R

[2021-09-14 20:41] tomjansto commented on #55
Sir,
if you change the regex for both the role and provider in the refresh() method of the saml_credentials_provider.py file from

        role_pattern = re.compile(r"arn:aws:iam::\d*:role/\S+")
        provider_pattern = re.compile(r"arn:aws:iam::\d*:saml-provider/\S+")

to this:

        role_pattern = re.compile(r"arn:aws.*:iam::\d*:role/\S+")
        provider_pattern = re.compile(r"arn:aws.*:i

[2021-09-14 21:01] kylemcleland-fanduel commented on #55
I do think it is an issue with the regex in the line you have provided. I tested your regex as well, but that change did not seem necessary. It looks

For reference, here is the values going into the loop `for arn in arns:`

arns = ['arn:aws:iam::999999999999:saml-provider/provider_role_redacted', ' arn:aws:iam::990163193419:role/Role_Redacted']

so here is the relevant portion of `def refresh()`

[2021-09-14 21:11] tomjansto commented on #55
is the leading space on the role arn you have in there causing a regex failure by any chance?

[2021-09-14 21:31] kylemcleland-fanduel commented on #55
@tomjansto - yup! That's exactly the issue.

in the same function, it is doing

`arns = value.contents[0].split(",")`

But value.contents[0] = "arn:aws:iam::999999999999:saml-provider/provider_role_redacted,  arn:aws:iam::999999999999:role/Role_Redacted"

So the .split(",") is keeping the trailing whitespace.
Changing to `.split(", ")` fixes that issue.

Cheers for that!  Unfortunately after fixin

[2021-09-14 23:19] kylemcleland-fanduel opened #56 "List manipulation error in saml_credentials_provider.py"
# Solution
In the file `/redshift_connector/plugin/saml_credentials_provider.py`, the following line is causing an error:
[code]
In one loop, I printed out both `values` and `values[0].content` and returned the following:

Because values[0].content is an empty list, there is no such thing as values[0].contents[0], therefore assinging that to the string is failing. The check above looks like it's m

[2021-09-14 23:22] kylemcleland-fanduel commented on #56
@Brooke-white

I've identified two issues #55  and #56 (this one), and have come up with a solution that works on my end. I was going to try to create a PR and suggest some changes but I noticed that I don't have the permissions to create a pull request to this repo.

How do you suggest I continue? In the meantime, I am going to use my own fork, but I think my fixes could help others trying to use

[2021-09-15 00:28] liuming commented on #39
@Brooke-white I really appreciate you took the time to link these documentations and also provide a surprising detailed reply. I learn something new today. Thank you. :clap:

[2021-09-15 17:57] Brooke-white commented on #56
Hey @kylemcleland-fanduel ,

Thank you for diving deep into the code base and debug logs to determine a cause for this issue! We'd love for you to open a PR so you can receive recognition for the work you've done for  #55 and #56.

From our end I am not seeing any restrictions that would prevent you from opening a PR. Have you tried opening a PR from a branch on your fork which contains the fix? L

[2021-09-15 18:11] Brooke-white commented on #55
Hey @kylemcleland-fanduel and @tomjansto ,

Thank you both for looking into this issue! I will pass the note about the regex for SAML role and provider along to the driver team and see what we can do here in terms of its flexibility.

[2021-09-15 20:10] kylemcleland-fanduel commented on #56
Thanks @Brooke-white, I'd be happy to make these changes. I realize that my changes were very specific to my own use case and making them a little more general is a great way to go about it, so thanks for the suggestions on ways to do that.

Unfortunately it does seem I am restricted from writing to this repo. Trying to push a new branch with changes from the command line, I receive the following:

[2021-09-15 21:07] kylemcleland-fanduel commented on #56
Thanks @Brooke-white, you're right I do have permissions. I've done some testing with the changes as how you've proposed them and opened a PR! I'm happy to read any feedback in that PR #57

[2021-09-23 18:08] AlexVielfaure commented on #18
Hi Brooke,

Sorry for not responding. Had a lot on my plate. Just wanted to let you know that this is still an issue. Thanks

[2021-09-27 18:15] Brooke-white commented on #55
this fix has been included in v2.0.888, thanks Kyle!

[2021-09-27 18:15] #55 closed

[2021-09-27 18:16] Brooke-white commented on #56
this fix has been included in v2.0.888, thanks Kyle!

[2021-09-27 18:16] #56 closed

[2021-09-28 20:03] Brooke-white commented on #54
Hi @dburtsev ,

Thank you for your patience. Per the DB-API,

[ref](https://www.python.org/dev/peps/pep-0249/#cursor-methods)

It looks like the stored procedure `stage.sp_truncate` takes in one parameter, `tables`, which should look something like this: `"table1, table2, table3"`.

Based on the error output provided I would guess `callproc` is being passed a list of strings, like shown below:
`cu

[2021-09-28 20:03] #54 closed

[2021-09-30 01:37] TakaakiFuruse opened #59 "Cannot execute format query"
## Driver version

redshift-connector 2.0.888

## Redshift version

PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.31651

## Client Operating System

Lubuntu 20.10

## Python version

3.9.5
(jupyter notebook: 6.4.4-a7895e6e)

## Problem description

1. Expected behaviour:

I am trying to run the same query in a different format.

[2021-09-30 02:46] #59 closed

[2021-09-30 03:01] TakaakiFuruse commented on #59
Sorry, I think I was making some mistakes. Let me close this issue.

[2021-10-04 15:06] dirkgomez opened #61 "Malformed column value of type numeric received when using DECIMAL or NUMERIC in redshift query"
## Driver version
2.0.888

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.30840

## Client Operating System
AWS lambda runtime

## Python version
Python 3.8

## Table schema
not necessary

## Problem description
See this bug https://github.com/awslabs/aws-data-wrangler/issues/912, you can take Ulli's query and

[2021-10-04 16:06] Brooke-white commented on #61
Hi @dirkgomez, thanks for reporting this issue. the team will take a look at this and report our findings shortly.

[2021-10-04 16:12] Brooke-white commented on #61
A workaround to this issue for now is to pass the following argument to the `redshift_connector.connect()` method:

`    client_protocol_version=1 `

[2021-10-05 17:00] Brooke-white commented on #33
Official docs have been released for `redshift_connector` they are available [here](https://docs.aws.amazon.com/redshift/latest/mgmt/python-redshift-driver.html).

[2021-10-05 17:00] #33 closed

[2021-10-14 13:54] Jonnokc opened #64 "Parameterized interval query throws error"
## Driver version
2.0.888

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.31651

## Client Operating System
Ubuntu 20.04 & mac os 11.6

## Python version
3.7

## Table schema
N/A

## Problem description
1. Expected behaviour:A select query will successfully execute when a parameterized interval expression is u

[2021-10-20 22:29] aseem-poloniex opened #65 "Cannot connect to redshift using IAM credentials"
## Driver version
2.0.888

## Redshift version
1.0.31802

## Client Operating System
Mac os

## Python version
3.8

## Problem description
Unable to connect to redshift cluster using IAM role from my local machine using `redshift-connector` package.

Connection is successful when using normal username & password to connect :
[code]

**Error** - `raise InterfaceError("communication error", e)
redsh

[2021-10-21 16:40] #64 closed, assigned to nobody

[2021-10-21 18:39] #65 closed, assigned to nobody

[2021-10-25 19:50] #61 closed, assigned to nobody

[2021-11-11 08:49] nam-tonthat-afterpay opened #67 "Create SQL Alchemy connection string using Okta IdP"
## Driver version
`redshift_connector 2.0.889`

## Redshift version
`PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.31651`

## Client Operating System
mac OS Monterery

## Python version
3.9.7

## Problem description
[code]

Currently, I can connect to Redshift using the above credentials but when trying to utilise the SQL Alchem

[2021-11-11 17:34] Brooke-white commented on #67
Hey @nam-tonthat-afterpay ,

Below is an example showing how to establish a connection to Redshift using Okta Browser authentication. Please note that the `user` and `password` field are no longer required (i.e. as you're using the browser authentication plugin they can be excluded).

[code]

Please let me know if you see any issue or have any questions.

[2021-11-12 03:58] nam-tonthat-afterpay commented on #67
Hey @Brooke-white,

I appreciate that! That works running it by itself but once integrated into Amundsen where the `botocore/client.py` takes the `api_call`, it returns this error.

[code]

More context, I've used the following versions:
- `amundsen-common = 0.21.0`
- `amundsen-databuilder  = 6.3.1`
- `amundsen-rds  = 0.0.6`
- `sqlalchemy = 1.4.22`
- `sqlalchemy-redshift = 0.8.8`
- `botocore = 1.2

[2021-11-12 17:50] Brooke-white commented on #67
Hi @nam-tonthat-afterpay ,

Thanks for providing this additional information.  I'd recommend to try the following:

- [Enable debug logging](https://github.com/aws/amazon-redshift-python-driver#logging) for redshift_connector and verify nothing looks suspicious in the logs (e.g. region, cluster_identifier)
- Are the `cluster_identifier` and `region` used for establishing the connection inline with

[2021-11-16 09:33] nam-tonthat-afterpay commented on #67
Hey @Brooke-white, do you have any tutorials on how to enable debug logging? I'm still newish to `logging`.

[2021-11-16 09:34] nam-tonthat-afterpay commented on #67
Hey @Brooke-white, do you have any tutorials on how to enable debug logging for `redshift_connector`? I'm still newish to `logging`.

I've tried using the Python tutorial but haven't had much luck.

[2021-11-19 17:37] Brooke-white commented on #67
Hey @nam-tonthat-afterpay ,

Apologies for the late response. Here's an example of configuring debug logging to output to `stdout`.

This would likely be easier that outputting the logs to a file given your Amundsen instance is probably running in a docker container, and a log file would show up there rather than your local file system :)

[code]

For me, this outputs:

[code]

ref: https://stacko

[2021-11-26 04:24] nam-tonthat-afterpay commented on #67
Hey Brooke, thanks for the heads up; I've done some more testing with this and the `cluster_identifer` and `region` look correct but then when the query starts; it returns the `ClusterNotFound` error.

[code]

Any ideas for this error?

[2021-11-29 14:08] Brooke-white commented on #67
Hey @nam-tonthat-afterpay ,

Could you verify that IAM SAML federation role was created inline with the instructions [here](https://aws.amazon.com/blogs/big-data/federated-api-access-to-amazon-redshift-using-an-amazon-redshift-connector-for-python/):

](https://aws.amazon.com/blogs/big-data/federate-amazon-redshift-access-with-okta-as-an-identity-provider/)
For step 7, the Amazon Redshift connecto

[2021-11-29 22:08] dburtsev opened #68 "AWS Lambda Redshift connections"
We have several Glue jobs with connections to Redshift, which we want to convert to Lambda jobs.
The Glue job can reference the external library from s3. How can I do this from Lambda?
Thanks,
Dmitriy

[2021-11-29 23:28] Brooke-white commented on #68
Hey Dmitriy,

[Deploy Python Lambda functions with .zip file archives](https://docs.aws.amazon.com/lambda/latest/dg/python-package.html) should provide an overview of how you can do this. Specifically, [this section](https://docs.aws.amazon.com/lambda/latest/dg/python-package.html#python-package-create-package-with-dependency) explains how you can deploy a Lambda with redshift_connector (or any ot

[2021-11-30 14:27] dburtsev commented on #68
Thanks @Brooke-white
If I understand correctly, we must attach a redshift driver to each Lambda job instead of sharing the same driver from s3 as Glue job did?

[2021-11-30 18:26] Brooke-white commented on #68
Hey @dburtsev,

ref: https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html

With the setup described in the above blurbs, you'd upload a .zip file as your deployment package to S3. The .zip file, created using [the instructions from my prior post](https://docs.aws.amazon.com/lambda/latest/dg/python-package.html), would contain your Lambda function, redshift_connector, and any ot

[2021-11-30 20:10] dburtsev commented on #68
This means no driver sharing between jobs, every Lambda job must have one redshift connector.
Thank you

[2021-11-30 20:10] #68 closed

[2021-12-01 16:04] rectalogic commented on #15
@Brooke-white this doesn't seem to be the case with 2.0.900 - I have to explicitly pass `access_key_id`, `secret_access_key` and `session_token` - boto doesn't pick them up from the environment:

[code]

[2021-12-01 16:31] rectalogic opened #69 "Allow authentication using IAM EC2 instance profile or environment variables"
## Driver version
2.0.900

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.33595

## Client Operating System
Ubuntu 20.04

## Python version
Python 3.8.10

## Problem description
When using IAM authentication, the driver does not seem to delegate to boto3. It doesn't pick up environment variables (`AWS_ACCESS_K

[2021-12-01 17:47] Brooke-white commented on #15
@rectalogic -- thank you for the heads up, this will be resolved in our next release.

[2021-12-01 19:52] Brooke-white commented on #69
Hey @rectalogic, thanks for the heads up.

A fix will be made in our next release.

The team will work on implementing this, I'll keep this issue updated with the status.

[2021-12-01 22:34] nam-tonthat-afterpay commented on #67
Hi @Brooke-white ,
I have checked and found the permission to allow the access to `Action: redshift:DescribeClusters`. I've done some debugging - on the first run of a sample script like this

[code]

It throws the same error on the first run but every subsequent run always returns `(1,)` as the output.

However, repeating it for the amundsen query (adjusting the `sample_postgres_loader.py` to sui

[2021-12-01 23:01] nam-tonthat-afterpay commented on #67
Hi @Brooke-white ,
I have checked and found the permission to allow the access to `Action: redshift:DescribeClusters`. I've done some debugging and made some progress but am thrown with another error.

On a simple query like this, it returns the `ClusterNotFound` error on the first run but on subsequent runs, it always returns `(1,)` as the output which is fantastic.

[code]

However, repeating it

[2021-12-03 00:49] donde-esta-la-biblioteca opened #70 "Incorrect Output when query has a subquery"
## Driver version
Latest version: v2.0.900

## Redshift version
![Redshift Version](https://user-images.githubusercontent.com/79408609/145130236-1edf48f9-d8eb-4c87-8761-520e4e932d7b.PNG)

## Client Operating System
Win10 Enterprise
Version: 10.0.19042 Build 19042

## Python version
3.9.7

## Table schema
[Table Schema.txt](https://github.com/aws/amazon-redshift-python-driver/files/7645985/Table.Sc

[2021-12-06 17:06] Brooke-white commented on #70
Hey @donde-esta-la-biblioteca ,

Thanks for reaching out regarding this issue. We will investigate and respond with our findings shortly.

[2021-12-06 17:48] Brooke-white commented on #69
@rectalogic , v2.0.901 has been released. Please try using this version

[2021-12-06 18:02] Brooke-white commented on #67
Hi @nam-tonthat-afterpay,

Can you confirm if the Python script which only uses redshift_connector is now consistently connecting?

When this behavior occurs, what environment(s) are used to run the Python script (e.g. Jupyter)?

Could you share the modified `sample_postgres_loader.py` so I can work on reproducing this behavior? Also, how is `sample_postgres_loader.py` being run? Is the idea that

[2021-12-07 23:08] Brooke-white commented on #70
Hi @donde-esta-la-biblioteca ,

As a temporary measure, please pass `client_protocol_version=1` to the `redshift_connector.connect()` method.

Additionally, could you please share the Redshift server version in which this issue is seen. This can be retrieved by executing `select version();`.

[2021-12-08 01:13] donde-esta-la-biblioteca commented on #70
Hi @Brooke-white,

I've updated the original ticket with the Redshift server version.

The temporary measure worked perfectly.

Thanks!

[2021-12-08 01:13] #70 closed

[2021-12-08 18:49] 07pepa opened #71 "Named parameters does not work can not work as described in readme/contradiction in documentation"
## Driver version
at least 2.0.901

## Problem description
readme shows that you can use named arguments (aka keyword arguments (kwargs))
like `cursor.execute(sql, p1=1, p2="hello world")`

however documentation in code says
[code]

and this is corect because real APi looks like `def execute(self: "Cursor", operation, args=None, stream=None, merge_socket_read=False) -> "Cursor":`

please fix readm

[2021-12-08 21:36] Brooke-white commented on #71
Hi @07pepa ,

Thank you for bringing this issue to our attention, we will update our documentation.

[2021-12-13 20:48] rectalogic commented on #69
Thanks, this seems to work.

[2021-12-13 20:48] #69 closed

[2021-12-14 19:02] Brooke-white commented on #71
Hi @07pepa ,

We've fixed the documentation in v2.0.902 so I'll be closing this issue. Thanks again for reporting this!

[2021-12-14 19:02] #71 closed

[2021-12-14 19:03] Brooke-white commented on #67
Hi @nam-tonthat-afterpay ,

Following up to see if you're still experiencing issues here.

[2021-12-15 01:52] nam-tonthat-afterpay commented on #67
Hi @Brooke-white , yes I am - I'm just a little tied up with some tickets that I have to close off - will update this thread by tomorrow! Apologies for the wait :'(.

[2021-12-16 19:50] nam-tonthat-afterpay commented on #67
Hi @Brooke-white, did a fresh install this morning and tried. Looks like everything is working perfectly. Closing the thread. The debug logging helped me iron out any issues. Thank you again for your help and patience on this!

[2021-12-16 19:50] #67 closed

[2021-12-16 20:59] Brooke-white commented on #67
yay! I'm happy to hear this, @nam-tonthat-afterpay. Best wishes on your project :)

[2021-12-17 21:57] rectalogic opened #72 "datetime.timedelta not supported with date math"
## Driver version
2.0.902

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.33904

## Client Operating System
Ubuntu 20.04

## Python version
3.8.10

## Problem description
1. Expected behaviour:
   date math would work with datetime.timedelta like it does with psycopg2
2. Actual behaviour:
    timedelta not sup

[2021-12-17 22:55] Brooke-white commented on #72
Hey @rectalogic ,

Thank you for taking the time to open this issue. I believe the fix to support this would be pretty minor.

Off the top of my head I think we'd just need to add an entry to `type_utils.py_types` for `datetime.timedelta` mapping it to `(TIMESTAMP, FC_BINARY, timestamp_send_integer)`, as well as adding an entry for `datetime.timedelta` to `Cursor.inspect_funcs`, mapping it to the

[2021-12-20 18:05] rectalogic opened #73 "SQLAlchemy result.rowcount is always -1"
## Driver version
2.0.902

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.33904

## Client Operating System
Ubuntu 20.04

## Python version
3.8.10

## Problem description
1. Expected behaviour:
   SQLAlchemy query results should return rowcount
2. Actual behaviour:
   -1 is returned

SQLAlchemy with `psycopg2`

[2021-12-20 18:38] Brooke-white commented on #73
hey @rectalogic,

Thanks for opening this issue. My understanding is that DB-API support for `rowcount` can be limited by the server's functionality to provide this information on the wire (i.e. if rowcount is sent to the driver or not). `redshift_connector` currently supports `rowcount` for some types statements such as `UPDATE`, `INSERT`, etc. See [here](https://github.com/aws/amazon-redshift-py

[2021-12-20 18:48] rectalogic commented on #73
psycopg2 with Redshift is able to return rowcount for SELECT, so there may be Redshift support. Not sure exactly where psycopg2 is getting it, maybe here https://github.com/psycopg/psycopg2/blob/master/psycopg/pqpath.c#L1191

[2021-12-21 19:01] Brooke-white commented on #72
Hi @rectalogic ,

Support for this feature will be included in our next release, which is set for early January. I'll follow up in the issue once a release has been made. Thanks again for opening this issue and providing the repro!

[2021-12-21 23:47] Brooke-white commented on #73
we will work to add support for this in the new year

[2021-12-22 05:27] DuyTrandeLion opened #74 "Cannot connect to Amazon Redshift"
## Driver version
2.0.902

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.34272

## Client Operating System
Windows

## Python version
3.7

## Problem description
I already enabled Public accessible in my Redshift, Subnet is default and Outbout is 0.0.0.0/0. However when I use the `Using Database credentials`

[2021-12-22 16:33] Brooke-white commented on #74
Hi @DuyTrandeLion ,

As a sanity check, can you connect to your Redshift cluster using CLI tools like [rsql](https://docs.aws.amazon.com/redshift/latest/mgmt/rsql-query-tool-getting-started.html) or psql?

[2021-12-28 08:00] kishaningithub opened #75 "[Feature request] Efficient bulk inserts (single bulk insert statement)"
https://github.com/aws/amazon-redshift-python-driver/blob/e0192784f5c949da50469a566599a1cc519670f1/redshift_connector/cursor.py#L235

In the above i see `executemany()` function runs the query in loop. In redshift say if i am loading thousands of records into redshift via a lambda, i would like to have a method which can run a single bulk insert statement

Eg
[code]

[2021-12-28 08:55] Yash621 commented on #75
@kishaningithub can I work on this ?

[2021-12-28 08:58] kishaningithub commented on #75
@Yash621 Sure 👍

[2021-12-28 10:14] kishaningithub commented on #75
The `execute_values` method in psycopg2 library can probably used as an inspiration for this implementation :-)

- https://www.psycopg.org/docs/extras.html#psycopg2.extras.execute_values
- https://billyfung.com/posts/2017-06-30-psycopg2-multiple-insert/

[2021-12-28 19:12] iggarish commented on #75
Have you tried COPY commands? Many developers are on vacation this week. We can give you feedback next week. But at the surface, it looks good to use multi tuple insert statement.

[2021-12-29 04:28] kishaningithub commented on #75
Thanks for the response @iggarish Yeah it is end of the year, i am fine with delayed responses :-)

From what i understand COPY is great for loading mountains of data into redshift but the use case we have is a realtime streaming one. To give more context, we are using redshift to power a realtime dashboard i.e. the data flow is like

AWS kinesis stream -> AWS lambda -> AWS Redshift -> Dashboard

[2021-12-29 12:54] mattdavis17 opened #80 "Error Handling (Specifically ProgrammingError handling)"
## Driver version

`redshift_connector==2.0.902`

## Problem description

Everything is working like expected so this is not a "this is terrible" post.  I'm trying to figure out how to handle errors when trying to execute a statement.  The statement in question is "CREATE USER ____ WITH PASSWORD ____" where I am connected to a redshift cluster.  If the user isn't there, all is great!  When the use

[2021-12-29 19:20] iggarish commented on #80
You can do as below:

    try:
              with con.cursor() as cursor:
                  cursor.execute("drop table if exists t1")
          except redshift_connector.ProgrammingError:
              // ProgrammingError and handle the error

You can find more in the "test" folder. Above snippet is from test/integration/test_query.py

Hope this helps.

[2022-01-04 18:10] Brooke-white commented on #75
Hi @kishaningithub,

Thank you for reaching out about your interest in this feature. I agree this would provide benefit in the mentioned use case.

@Yash621, thank you for being proactive in addressing this issue. I will take a look at your PR and provide some feedback shortly :).

[2022-01-04 18:28] Yash621 commented on #75
@Brooke-white  thank you so much :)

[2022-01-04 18:51] Brooke-white commented on #75
@kishaningithub, please take a look at #81 so we can ensure this PR satisfies your use case :)

[2022-01-05 00:02] Brooke-white commented on #74
Hey @DuyTrandeLion -- bumping this to see if you're still seeing issue

[2022-01-05 12:45] easthy-alterpost commented on #46
I have to run multiple statements due to query perfomance improvements. For example:

[code]

I can do it with Postgres driver, but can't with redshift. This functionality should be implemented.

[2022-01-05 13:04] easthy-alterpost opened #82 "Multiple statements execution"
## Driver version
Latest

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.34332

## Python version
3.7

## Problem description
1. Expected behaviour: One can execute multi-statements SQL code at once.
2. Actual behaviour: Can't run more than 1 SQL statement at once
3. Error message/stack trace: `cannot insert m

[2022-01-05 17:10] Brooke-white commented on #46
Hi @easthy-alterpost  -- this functionality is not currently supported due to how redshift_connector uses prepared statements for statement execution. While adding this functionality is not currently on our roadmap, I will pass along your feedback to the Amazon Redshift driver team.

If you're interested in why this isn't currently supported, you can checkout [my response](https://github.com/aws/a

[2022-01-05 17:18] Brooke-white commented on #82
Hi @easthy-alterpost -- this limitation is due to how redshift_connector executes statements. Please see linked issue #39 for an explanation of why this limitation exists.

Adding this feature is not currently on our roadmap, so my recommendation would be to preform some pre-processing of the SQL files (i.e. splitting the statements) so they can be executed by redshift_connector. A 3rd party libra

[2022-01-05 17:20] Brooke-white commented on #80
Hi @mattdavis17 -- thank you for your feedback. I hope iggarish's response above addressed your question. Please let me know if any more information is needed. We will work to add documentation about this topic.

[2022-01-10 18:16] Brooke-white commented on #72
Hi @rectalogic -- thank you for your patience. we've released support for this feature in [2.0.903](https://github.com/aws/amazon-redshift-python-driver/blob/master/CHANGELOG.md#v20903-2022-01-10). Please open a new issue if you see any issue with the use of the datatype`datetime.timedelta`.

[2022-01-10 18:18] Brooke-white commented on #80
We've added documentation to our readme regarding exceptions in  [2.0.903](https://github.com/aws/amazon-redshift-python-driver/blob/master/CHANGELOG.md#v20903-2022-01-10).

[2022-01-10 18:18] #80 closed

[2022-01-18 17:16] Brooke-white commented on #74
please feel free to re-open this issue, or a new one, if you continue to see issue.

[2022-01-18 17:16] #74 closed

[2022-01-18 17:49] ni-todo-spot opened #84 "Getting timeout error when trying to establish a connection"
## Driver version
2.0.903

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.34691

## Client Operating System
Darwin Nativs-MacBook-Pro.local 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:12:21 PDT 2021; root:xnu-7195.141.6~3/RELEASE_X86_64 x86_64

## Python version
3.8.7

## Problem description

1. Expecte

[2022-01-18 18:02] Brooke-white commented on #84
Hi @ni-todo-spot ,

As a sanity test, can you confirm if you are able to connect to Redshift using psql?

``psql -h my-cluster.abc123.us-east-1.redshift.amazonaws.com =p 5439 -U awsuser -d dev``

[2022-01-18 18:40] ni-todo-spot commented on #84
Appreciate your quick reply :)

tried all of these:

[code]

which all resulted in:

[code]

Just for reference:

[code]

thanks in advance!

[2022-01-18 18:54] Brooke-white commented on #84
Hey @ni-todo-spot ,

Thank you for this information. As psql is unable to connect to your cluster, I would recommend to check the following before trying to use redshift_connector, as the root issue is that your machine cannot connect to the cluster:
- (Sanity check) Are the cluster endpoint and port correct?
- Using the AWS console or CLI, is the cluster healthy and running?
- Using the AWS conso

[2022-01-20 08:13] ni-todo-spot commented on #84
Thanks for the info - I followed the instructions in the link attached to your reply and succeeded.

THANKS!

[2022-01-20 17:08] #84 closed

[2022-01-24 17:50] Brooke-white commented on #75
Big thank you to @Yash621 for taking on this feature request and @david-dest01 for supporting this effort. PR, #81 has been merged and will be included in our next release scheduled for February.

[2022-01-24 17:57] david-dest01 commented on #75
@Yash621 nice work!

[2022-01-24 18:17] Yash621 commented on #75
@david-dest01  thank you for your support and guidance :)

[2022-01-24 18:18] Yash621 commented on #75
@Brooke-white could n't be more happy to hear that :)

[2022-01-31 18:09] binzabinza opened #88 "Cached query results"
## Driver version
redshift-connector==2.0.903

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.34928

## Client Operating System
Windows 10 ProBuild 19042.631

## Python version
Python 3.7.3

## Table schema
| column | dtype |
|---|---|
|id (PK)|int8|
|symbol|varchar(64)|
|price|float8|
|timestamp|timestamp|

#

[2022-01-31 18:22] Brooke-white commented on #88
Hi @binzabinza ,

Thank you for opening this issue and providing the reproduction. I will look into this on my end and provide an update shortly. Linking #87.

[2022-01-31 19:13] Brooke-white commented on #88
@binzabinza , could you please try enabling autocommit or manual commit/rollback before executing the select statements? This issue is seen due to the both `select` statements being in the same transaction, which becomes "stale" after the table is modified by the external process. I've verified manual rollback/commit and enabling autocommit resolve this in the repro you provided.

To enable autoco

[2022-01-31 19:26] binzabinza commented on #88
Ah this makes sense. I suppose the default isolation level in `REPEATABLE READ` which has the behavior of returning the same results for two select statements inside one transaction. I was expecting the behavior of 'READ COMMITTED`.

Committing select transactions absolutely fixes the issue. Appreciate your help!

[2022-01-31 19:26] #88 closed

[2022-02-03 18:09] nfmcclure opened #89 "Documentation / Readme Example Clarification"
## Driver version
NA

## Redshift version
NA

## Client Operating System
NA

## Python version
NA

## Table schema
NA

## Problem description

1. Expected behaviour: Reference/Description to undefined variables.
2. Actual behaviour: Examples have reference to undefined variables
3. Error message/stack trace: "... is not defined"
4. Any other details that can be helpful:

The Readme has reference t

[2022-02-03 18:19] Brooke-white commented on #89
Hi @nfmcclure ,

In this case, `db_table` is the Connection object created using the method `redshift_connector.connect()`. Please see the readme section [basic example](https://github.com/aws/amazon-redshift-python-driver#basic-example) to see how a connection can be established.

We will correct the naming of this variable in our docs to clarify that it is the connection object as the current na

[2022-02-07 18:40] Brooke-white commented on #89
We've updated our README to address this issue in v2.0.904. Please feel free to open a new issue if you have further comments or questions.

[2022-02-07 18:40] #89 closed

[2022-02-07 18:41] #75 closed

[2022-02-07 18:43] Brooke-white commented on #73
We've addressed this issue in v2.0.904. `SELECT` row count can be found in Cursor.[redshift_rowcount](https://github.com/aws/amazon-redshift-python-driver/blob/master/redshift_connector/cursor.py#L129), a new method native to redshift_connector. Please feel free to open a new issue if you have further comments or questions.

[2022-02-07 18:43] #73 closed

[2022-02-07 18:47] Yash621 commented on #75
@Brooke-white @kishaningithub @david-dest01 it was great experience to collaborate with you all.

[2022-02-24 02:45] justinmann opened #91 "Query times out after 10 seconds"
## Driver version
redshift-connector==2.0.904

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.35649

## Client Operating System
Docker running Amazon Linux

## Python version
3.0

## Table schema
N/A

## Problem description
Queries timeout after 10 seconds. I am calling Redshift from Airflow 2.2.2 running in D

[2022-02-24 16:16] Brooke-white commented on #91
Hey @justinmann ,

Thanks for reaching out. As a sanity check, are you able to connect to Amazon Redshift from your docker container using a CLI tool such as PSQL or RSQL? This can help narrow down if there is a connectivity issue here. If you're unable to connect using a CLI tool, you can find some troubleshooting guides [here in the Amazon Redshift docs](https://docs.aws.amazon.com/redshift/late

[2022-02-24 18:00] Brooke-white commented on #91
Could you please provide logs as described above so we can look into this further?

[2022-02-24 18:02] Brooke-white commented on #91
Also, have you tried setting the timeout for your DAG as discussed here? https://stackoverflow.com/questions/57823172/increase-timeout-for-a-particular-dag-in-airflow

[2022-02-24 18:34] justinmann commented on #91
I added this to my code:
Log_Format = "%(levelname)s %(asctime)s - %(message)s"

logging.basicConfig(filename = "logfile.log",
                    stream = sys.stdout,
                    filemode = "w",
                    format = Log_Format,
                    level = logging.DEBUG)

logger = logging.getLogger()

Here is the output:
*** Reading local file: /usr/local/airflow/logs/dashboard_kpi

[2022-02-24 18:35] justinmann commented on #91
I have tried:
1) execution_timeout=timedelta(seconds=600) in the DAG operator
2) "set statement_timeout to 600000" in the SQL commands sent to Redshift

[2022-03-10 09:39] jaidisido opened #92 "Make redshift.connect a context manager"
Transferring issue: https://github.com/awslabs/aws-data-wrangler/issues/1205

[2022-03-10 17:14] Brooke-white commented on #92
Thanks, @jaidisido  :). @WillAyd, thank you for bringing this to our attention. The team will work to add support for this feature and provide an ETA when available.

[2022-03-10 17:31] Brooke-white commented on #92
Hey @WillAyd, the redshift_connector `Connection` class already has an `__enter__()` and `__exit__()` method [here](https://github.com/aws/amazon-redshift-python-driver/blob/master/redshift_connector/core.py#L381-L385). The `__exit__()` method invokes `close()`, which [sends a message to the server to terminate the connection](https://github.com/aws/amazon-redshift-python-driver/blob/master/redshi

[2022-03-10 17:53] WillAyd commented on #92
Hey @Brooke-white this is great and actually perfect. Thanks for bringing to my attention - I didn’t look through the code but only checked the documentation on pages like this, where the context manager is not being used:

https://aws-data-wrangler.readthedocs.io/en/2.4.0-docs/stubs/awswrangler.redshift.connect.html

I can push a PR later to improve the docs for that

[2022-03-10 20:57] #92 closed

[2022-03-16 16:49] vfrank66 opened #93 "Unable to escape reserved word on cursor create table statement"
## Driver version

2.0.905

## Redshift version

PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.36224

## Client Operating System

Lambda -x86_64

## Python version

python3.7

## Table schema

[code]

Other create table statements that also fail:
[code]

## Problem description

1. Expected behaviour:
2. Actual behaviour:
3. Erro

[2022-03-21 12:01] ni-todo-spot opened #95 "Set argument for redshift connection/cursor in order to fetch float instances?"
## Driver version
2.0.905

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.36224  

## Client Operating System
Darwin Nativs-MacBook-Pro.local 21.4.0 Darwin Kernel Version 21.4.0: Mon Feb 21 20:34:37 PST 2022; root:xnu-8020.101.4~2/RELEASE_X86_64 x86_64

## Python version
3.8.7

## Problem description
I was won

[2022-03-21 16:15] Brooke-white commented on #95
Hey @ni-todo-spot ,

Thanks for reaching out, this is a good question. At this time, all `NUMERIC` values are mapped to `decimal.Decimal`. `decimal.Decimal` is used for `NUMERIC` values as it offer a higher level of precision than `float`.

I will chat with the Redshift driver team to see if our Redshift JDBC driver offers such an option, and see if this is something we could support. Thank you fo

[2022-03-21 16:43] Brooke-white commented on #93
Hi @vfrank66 ,

Thank you for your patience. Are you still experiencing this issue? I was unable reproduce using redshift-connector==2.0.905 and Redshift server version [1.0.36433](https://docs.aws.amazon.com/redshift/latest/mgmt/rs-mgmt-cluster-version-notes.html). My suggestion is to update your Redshift server to the latest version. I don't believe this issue is related to redshift-connector.

[2022-03-28 16:18] Brooke-white commented on #95
Hi @ni-todo-spot ,

Small update -- I've scoped work required for this feature and it looks minimal. I'm working on implementation/testing and anticipate we can include this feature in our next release (scheduled for mid-April). At this time, I think supporting an option for returning a numeric as `float` would be most straight forward.

[2022-03-28 16:29] ni-todo-spot commented on #95
Great news! Thank you very much :)

[2022-03-28 21:09] djciregethigher commented on #31
``Hello everyone,

this is my first GitHub post, so bare with me. I think I found a solution.

For context, I'm using RedShift with MacOS.

I ran into similar error where I'm trying to enter variables/parameters into a formatted string to create an SQL query, and with that string of text I use Redshift Connector for Python to execute those queries.

I think I found a solution in my case:

so rathe

[2022-03-28 23:20] Brooke-white commented on #91
Hi @justinmann ,

Following up to see if you're still experiencing this issue.

[2022-03-28 23:38] Brooke-white commented on #31
Hey @djciregethigher ,

Thank you for sharing your findings and congrats on your first post :). When comparing the output from the two code blocks, it seems to be identical. Could you please help me understand?

[code]

[code]

Not sure if this applies to your use case, but redshift_connector supports parameterization without needing to use format strings which can be a bit cleaner and provide pro

[2022-04-04 22:14] akrymskiy opened #96 "struct.error: unpack_from requires a buffer of at least 5 bytes for unpacking 5 bytes at offset 0 (actual buffer size is 0)"
## Driver version
2.0.905

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.36926

## Client Operating System
Docker amazonlinux 2.0.20220316.0 on Windows 11 (WSL2)r

## Python version
3.8

## Table schema
public

## Problem description
1. Expected behaviour: UNLOAD sql completes successfully and control is retu

[2022-04-04 22:15] akrymskiy commented on #96
`""" Data Archival Project Redshift Instances """
# Standard Imports
from datetime import date, datetime, timedelta
import os
from pathlib import Path
import re

# Specialized Imports
import boto3
from dotenv import load_dotenv
from dateutil.relativedelta import relativedelta
import redshift_connector

# Loads .env file
load_dotenv(dotenv_path=Path(__file__).parent.joinpath('.env'))

BACKUP_BUCKET

[2022-04-04 22:44] Brooke-white commented on #96
Hey @akrymskiy ,

Thanks for reaching out and providing these details.

I think this could be the case here. By default, the socket used for communication with the Redshift cluster has no timeout. As such, I'd recommend to read about [WLM timeout](https://docs.aws.amazon.com/redshift/latest/dg/cm-c-defining-query-queues.html#wlm-timeout) to see if this applies to your Redshift cluster's configurat

[2022-04-04 22:50] Brooke-white commented on #96
A side note -- I assume you have reason for disabling parallelization for the `UNLOAD` statement, but if not it could be worth reading about the [impact of PARALLEL on UNLOAD performance](https://docs.aws.amazon.com/redshift/latest/dg/t_Unloading_tables.html).

[2022-04-05 19:40] akrymskiy commented on #96
Thanks for responding @Brooke-white. There is no WLM timeout explicitly defined. This code works if executed directly on Python on Windows, but fails with the referenced error when running inside Docker on WSL. Strangely it works correctly when I push this Docker container into ECR and run it on ECS Fargate - which is how it will run in Prod. I suppose there is something in the Docker on WSL that

[2022-04-05 21:44] georgewilson23 opened #97 "TCPKeepAlive during unload does not keep connection alive"
## Driver version

2.0.905
## Redshift version

 Redshift 1.0.36224

## Client Operating System

Windows Server 2019

## Python version

3.9
## Table schema

## Problem description

1. Expected behaviour: TCP keep alive maintains connections on client
2. Actual behaviour: UNLOAD begins and after ~5 minutes closes due to timeout. All data is eventually written asynchronously without allowing the sc

[2022-04-13 16:17] #93 closed

[2022-04-13 21:55] Brooke-white commented on #96
For troubleshooting this issue as well as related issue #97, I'd recommend checking out the following:
- What is written to `stl_error` table for the db user this issue occurs to? Check `error` `context` columns
- If we cut redshift_connector out of the equation, can a long running statement be run using CLI tools like `psql` or `rsql` inside Docker WSL?
- Additionally, if we cut Redshift out also

[2022-04-13 21:56] Brooke-white commented on #97
Hi @georgewilson23

Can the timeout on the Azure machine be increased? I would start with trying this.

I'll be closing this issue in favor of related issue #96 where I've posted some troubleshooting recommendations.

[2022-04-13 21:56] #97 closed

[2022-04-15 18:07] Brooke-white commented on #95
Hi @ni-todo-spot ,

We've just released v2.0.906 of redshift_connector which includes this feature. Please be sure to read the disclaimer about this flag, `numeric_to_float` located in the project [README](https://github.com/aws/amazon-redshift-python-driver#connection-parameters) before using. I've copied it below for your convenience. This disclaimer is just warning of the precision differences

[2022-04-15 18:07] #95 closed

[2022-04-17 07:14] ni-todo-spot commented on #95
@Brooke-white Wow! 👏
This is what I've been waiting for :)

Thank you very much 😄

[2022-04-22 16:06] Brooke-white commented on #91
I'll be closing this out as I haven't heard back. Please re-open if you're still seeing issue here.

[2022-04-22 16:06] #91 closed

[2022-05-03 19:09] Brooke-white commented on #96
following up on this, are you still seeing this issue?

[2022-05-12 02:53] Tradunsky opened #100 "IAM authentication leads to unclosed socket warning"
## Driver version

^2.0.907

## Redshift version

'                                             version
'PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38094��'

## Client Operating System

Darwin Kernel Version 20.6.0

## Python version
3.7, 3.9

## Table schema

## Problem description
Execution of a simple sample leads to unclo

[2022-05-12 15:14] galmog commented on #70
Hi,
I am experiencing the same issue with negative results when running a subquery. The temporary measure suggested doesn't fix the problem.

[2022-05-12 16:01] Brooke-white commented on #70
Hey @galmog , could you please open a new issue including the version of redshift-connector you are using as well as the server version. Also please explain what is meant by "negative result"? What Redshift datatype is this behavior seen for?

[2022-05-12 16:26] Brooke-white commented on #100
I am able to reproduce after adding the following at the top of the `Reproduction code`

[code]

I looked around a bit and found [this issue open with boto3](https://github.com/boto/boto3/issues/454), which looks like where the error is originating from. As I said earlier, redshift-connector doesn't directly open any sockets in the mentioned block of code, [set_cluster_credentials](https://github.

[2022-05-15 08:10] galmog commented on #70
## Driver version
Latest version: v2.0.900

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38214

## Client Operating System
Ubuntu 20.04.4

## Python version
3.9.7

I am hesitant to include full screenshots due to sensitive information. My query does contain a subquery and these are the results I am getting.

[2022-05-16 16:34] Brooke-white commented on #70
Hi @galmog ,

Thank you for providing these details. I looked into this issue on my cluster, having server version 1.0.38361, and was unable to reproduce. This could be due to the test I am using (included below) or a server change that resolved this issue.

Could you please provide the following to assist my investigation?
1. Column definition for `daily_avg` e.g. `decimal(32,3)
2. Output showing

[2022-05-19 23:36] #100 closed

[2022-05-21 02:21] Tradunsky commented on #100
Hi @Brooke-white,

Sorry for the late reply, was away from the keyboard for some time.

Thank you very much for the reference! I have read some workarounds, like suppressing the warning and also spent a decent amount of time debugging redshift connector itself, before submission of this issue, but I have not realized the depth of the issue actually related to boto3 and not the usage of boto3 by re

[2022-05-23 16:31] Brooke-white commented on #100
Hey @Tradunsky , thanks for following up. We can monitor the referenced solution, and if merged, take steps to apply to redshift_connector as well.

[2022-05-24 03:59] dannysepler opened #103 "If no username / password is given, get it from `pgpass`"
## Driver version
2.0.907

## Redshift version
`('PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38551')`

## Client Operating System
Mac OSX

## Python version
Py3.10

## Table schema
N/A

## Problem description
In `psycopg2`, if no username / password is given, the package will infer it from a user's pgpass. But in this package

[2022-05-24 09:15] v-kox opened #104 "Running a GROUP BY on the result of a CASE column results in a ProgrammingError being logged for a valid query"
## Driver version
2.0.907

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38551

## Client Operating System
Linux - kernel version 5.13

## Python version
3.8.13

## Table schema
See [Reproduction Code](#reproduction-code)

## Problem description
When trying to group query results on the outcome of a case stat

[2022-05-24 15:57] Brooke-white commented on #104
Hi @v-kox , thank you for reaching out about this issue. I will look into reproducing it using the attached code and follow up with my findings.

[2022-05-24 17:35] Brooke-white commented on #103
Hey @dannysepler, thanks for reaching out with this feature request. I will chat with the Redshift driver team and provide an update here.

[2022-05-25 01:44] niravpeak opened #105 "Unable to respond with SQLAlchemy driver / Superset code base"
## Driver version
redshift-connector==2.0.907

## Redshift version
Any => 1.0.38551 or redshift spectrum

## Client Operating System
linux

## Python version
Python 3.8.12

## Table schema
NA

## Problem description

1. Expected behaviour: Response should provide resultset
2. Actual behaviour: It throws error: First element of field tuple is neither a tuple nor str
3. Error message/stack trace:
ra

[2022-05-25 16:10] Brooke-white commented on #105
Hey @niravpeak , thank you for opening this issue. Could you please provide a reproducible simple code snippit that shows the issue? We have not tested redshift_connector integration with apache superset, so this would be very helpful in my investigation as I haven't worked with superset before.

Please correct me if I am mistaken; My understanding of this issue is that it is regarding retrieving

[2022-05-26 10:18] seanyboi opened #106 "Is it possible to connect to redshift Serverless using redshift_connector?"
Is it possible to connect to redshift Serverless using this connecter? If so please update documentation to show how.

[2022-05-26 15:43] Brooke-white commented on #106
Hi @seanyboi,

Yes, we have a [tutorial showing this](https://github.com/aws/amazon-redshift-python-driver/blob/master/tutorials/001%20-%20Connecting%20to%20Amazon%20Redshift.ipynb). Thank you for the feedback, we will work with the Amazon doc team to add an example to the official Python driver docs as well.

[2022-05-26 16:14] seanyboi commented on #106
That's great to hear thank you. I managed to connect and pull data using the `boto3.client("redshift-data")`  data api. Do you recommend using redshift_connector or boto3? 😄

[2022-05-26 17:09] Brooke-white commented on #106
very cool! I'm a bit biased since I work on redshift_connector :), but I'd say that depends on what the requirements of your project are. I'd recommend to take a look at the docs for both projects, play around with them both a bit, and think a bit about the following questions
- How will users need to authenticate? IAM? Identity Providers (e.g. Azure, Okta)? Are there any project/company requireme

[2022-05-27 10:27] seanyboi commented on #106
wow! thanks Brooke, this is the most in depth response I've ever had on an open source project. I shall checkout all this information and if I have an improvements I shall let you know :) thank you very much!

[2022-05-27 10:50] seanyboi commented on #106
so been playing around with it - but I keep getting `('communication error', gaierror(8, 'nodename nor servname provided, or not known'))`  when running:

[code]

So to confirm when I am on the redshift serverless console:

* the `host` is the endpoint without the port and database table name attached?
* the `user` is the admin user name you see on the console?
* the `password` is the admin passwo

[2022-05-27 13:13] v-kox commented on #104
@Brooke-white added an issue in the redshift-dialect project [#252](https://github.com/sqlalchemy-redshift/sqlalchemy-redshift/issues/252)

[2022-05-27 16:49] Brooke-white commented on #106
Correct, this may look something like this `0123456789123.us-east-2.redshift-serverless.amazonaws.com`

Correct, it can be that user or any other user with the desired permissions (you can query possible users by looking to the `pg_user` table)

Correct, assuming the authenticating user is the admin user.

Correct

My guess is that you could be running into connectivity issues due to the Redshift

[2022-05-27 21:29] Brooke-white commented on #106
Another thing to check is that the Redshift serverless cluster is not paused or stopped

[2022-06-06 14:39] #103 closed

[2022-06-06 23:43] Brooke-white commented on #105
Hi @niravpeak , following up on this issue. Could you please provide a reproducible simple code snippit so I can start to look into this?

[2022-06-07 17:48] WillAyd opened #107 "Redshift Driver Truncates Important Information in Error Messages"
## Driver version
2.0.907

## Redshift version
Redshift 1.0.38698

## Client Operating System
Docker python:3.10.2 image

## Python version
3.10.2

## Table schema
test_column: INTEGER

## Problem description
When attempting to copy a file from S3 into Redshift via awswrangler, a data type mismatch will correctly throw an error. However, the error message is truncated, which makes it hard to debug

[2022-06-08 03:41] Brooke-white commented on #107
Hey @WillAyd , thank you for reporting this issue. I agree, this behavior would make debugging harder (not to mention more frustrating).

redshift_connector's error handling *should just* output what is received from Redshift server via postgres wire [some docs here on what the incoming data looks like](https://www.postgresql.org/docs/current/protocol-error-fields.html).

As for next steps, I will

[2022-06-09 22:41] Brooke-white commented on #107
Hey @WillAyd ,

I just noticed the error message you provided isn't complete -- there's an open quote for the error dict's `"D"` key but no closing quote. Could you provide the whole error message please? Not sure if just the end quote is missing but want to double check.

[2022-06-13 09:40] niravpeak commented on #105
@Brooke-white, It would be better if we have column name as same as other drivers. Reference https://github.com/apache/superset/issues/20137

[2022-06-14 08:14] ad-m-ss opened #109 "Support 'external_id' for temporary credentials"
## Driver version

v2.0.907 [Latest](https://github.com/aws/amazon-redshift-python-driver/releases/latest)

## Redshift version

N/A

## Client Operating System

N/A

## Python version

N/A

## Table schema

N/A

## Problem description

1. Expected behaviour: Library is able to use EKS IRSA / AWS SSO to discovery credential, then use `AssumeRole` with `role_arn` and `external_id` to receive curren

[2022-06-14 14:23] Brooke-white commented on #109
Hey @ad-m-ss

Thanks for providing this feedback. While I need to discuss with the Redshift driver team, I think he addition of `external_id` connection parameter is reasonable to allow users access to underlying boto3 functionality.

I'll need to discuss this feedback further with the team, as this change would not be inline with how our JDBC driver handles IAM. We generally try to keep these inl

[2022-06-14 17:43] WillAyd commented on #107
Hi @Brooke-white - that is how the error gets printed to the console

[2022-06-15 14:03] Brooke-white commented on #105
Hi @niravpeak ,small update, we have a fix for this issue and are running it through our review process now. Assuming all is good, we expect to include this in our next release

[2022-06-15 14:19] Brooke-white commented on #96
closing as we haven't heard back. feel free to re-open this, or a new issue if this pops up again.

[2022-06-15 14:19] #96 closed

[2022-06-15 14:20] Brooke-white commented on #106
please re-open this, or a new issue if you need any more help with connecting to redshift serverless

[2022-06-15 14:20] #106 closed

[2022-06-15 14:21] Brooke-white commented on #82
closing in favor of #39

[2022-06-15 14:24] Brooke-white commented on #107
Hey @WillAyd , thanks for the additional information. If it's accessible to you, could you please run the statement directly with redshift_connector? The lack of closing bracket for the error dictionary makes me wonder if the error message is being truncated *after* it's raised in redshift_connector.

[2022-06-15 16:03] WillAyd commented on #107
I can't share the full traceback as this is on a work machine not connected to my GitHub account, but some debugging shows this at the top of the stack trace when the error is thrown:

https://github.com/aws/amazon-redshift-python-driver/blob/6a2ef2581770c3cd8b2a6941e164c8d7af2d4c6d/redshift_connector/core.py#L1986

If I set a breakpoint there and inspect the error before it gets raised, it appear

[2022-06-21 15:08] raphaelvignes opened #110 "Unable to query a redshift cluster in github actions"
## Driver version
2.0.907

## Redshift version

PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38698\x00\x00

## Client Operating System
Linux (Ubuntu)

## Python version
3.10

## Table schema
default

## Problem description
Hello, we are facing issues using the python driver for Redshift. We are able to locally connect & run que

[2022-06-21 15:29] Brooke-white commented on #110
Hey @raphaelvignes , thanks for opening this issue. Tracing through the exception, I see `ssl.SSLEOFError: EOF occurred in violation of protocol (_ssl.c:2396)` at the root. Was this previously working in your CI?

[2022-06-21 15:57] Brooke-white commented on #107
Hey @WillAyd ,

Thanks for your patience. I have been unable to reproduce this on my end. I've included my code snippit below, where I tried an s3 copy with a very long file name. The error output was not truncated. This makes me think there could be something outside of redshift_connector truncating the error messages, since its especially strange the error dict is missing the closing brace.

FWI

[2022-06-21 16:17] raphaelvignes commented on #110
Hi @Brooke-white, we tried to connect with & without
`ssl=False` it didn't work in both cases.
We don't use a proxy locally nor in github actions.
Python dependencies are the same locally and in CI (those in the `pyproject.toml` file).
As for the os dependencies, we didn't manage to replicate the issue using github actions' `ubuntu:latest` image.

[2022-06-21 19:10] WillAyd commented on #107
Docker versus running directly on the host didn't make a difference. I ran directly as you did as well and was still getting the issue.

I noticed that your error is slightly different though, as you get `...has an invalid version number.`. I'm wondering if the back half of the error message is what gets truncated, as mine would say something like `has an incompatiable Parquet schema for column 's

[2022-06-21 21:48] Brooke-white commented on #107
good thinking -- let me give this a try and I'll get back to you

[2022-06-21 22:08] Brooke-white commented on #107
I believe I'm hitting the same type of error as you're seeing, though I'm not seeing the truncation of the error message, I've included repro steps below:

1. download & upload some test parquet file [I used this one](https://github.com/Teradata/kylo/blob/master/samples/sample-data/parquet/userdata1.parquet)
2. view the parquet file to figure out column names https://www.parquet-viewer.com/
3. inc

[2022-06-22 00:08] WillAyd commented on #107
Interesting. I'll give that a shot tomorrow. This is using the exact same driver version too right? Since there is no real traceback I assume the issue might be originating in the driver itself rather than this python wrapper

[2022-06-22 19:08] WillAyd commented on #107
I was still getting the same issue with that file. The difference I've noticed however is that my S3 paths are much longer, and that seems to impact the error message truncation in non-obvious ways. Can you try placing the file in these locations and loading from there?

[code]

[2022-06-22 19:47] WillAyd commented on #107
Awesome! That's the main thing I'm after - I think everything else in Python is fine.

[2022-06-22 20:10] Brooke-white commented on #107
The issue has been opened, I'll keep this open in the meantime and provide updates here once available :)

[2022-06-27 15:06] ni-todo-spot opened #111 "Is there some kind of mapping a data type's oid to its name?"
## Driver version
2.0.905

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.36224��

## Client Operating System
Darwin Nativs-MacBook-Pro.local 21.4.0 Darwin Kernel Version 21.4.0: Mon Feb 21 20:34:37 PST 2022; root:xnu-8020.101.4~2/RELEASE_X86_64 x86_64

## Python version
3.8.7

## Problem description
I was won

[2022-06-27 15:36] Brooke-white commented on #109
Hi @ad-m-ss ,

If you authenticate with AWS profile, [see the section on IAM in our tutorial](https://github.com/aws/amazon-redshift-python-driver/blob/master/tutorials/001%20-%20Connecting%20to%20Amazon%20Redshift.ipynb), the external_id as well as role_arn can be specified within the profile. Please see [boto3 docs on configuration profiles](https://boto3.amazonaws.com/v1/documentation/api/lates

[2022-06-27 15:41] Brooke-white commented on #111
Hey @ni-todo-spot ,

Thanks for reaching out. We don't currently have an equivalent to psycopg2's `string_types`, the best I could point you towards is the projects `type_utils.py` file, where a mostly complete list of OIDs supported by redshift_connector can be found. Though I'm not sure how useful this will be for you in its current form.

The list of supported OIDs are made available on a modul

[2022-06-27 16:02] Brooke-white commented on #111
Hi @ni-todo-spot

I looked into `string_types` a bit more and it looks like it can also be used for [defining new datatypes and associated converters](https://stackoverflow.com/questions/52484070/psycopg2-type-caster-is-created-and-registered-but-not-found). Not sure if you're interested in this functionality, but **it is** supported by redshift_connector. You can add/modify datatype converter fun

[2022-06-28 02:09] manmartgarc opened #112 "PyPI wheels only distribution"
Hi all,

Quick question: is there a particular reason as to why the PyPI distribution is wheels only? Is it possible to also distribute the package source?

Thank you!

[2022-06-28 02:44] Brooke-white commented on #112
Hey @manmartgarc ,

Thanks for reaching out. We chose to distribute wheels for a number of reasons (faster package installation, smaller distribution size, avoiding RCE that occurs when installing from source, see [PEP 427](https://peps.python.org/pep-0427/#rationale)).

I am interested to hear your use case for the source distribution.

Package source can be found on our GitHub under [releases](h

[2022-06-28 04:22] niravpeak commented on #105
I would be happy to assist on testing same if released/ available in this repo.

[2022-06-28 06:39] manmartgarc commented on #112
Thanks Brooke! I am trying to work around a specific way of using third-party software - I will try to do more research on my end. But this is definitely on my end so I will close the issue, thanks for the help!

[2022-06-28 06:39] #112 closed

[2022-06-28 09:13] ni-todo-spot commented on #111
@Brooke-white Thanks for your quick reply!

Regarding your second comment - I'm not sure it's good idea to mix postgres & redshift data types together.

For now I made a n `oid_to_name` map in my specific case. It's not ideal but for my purposes it's good enough. If you think it's worth it I can submit a PR with it so it would be public.

I hope a better solution can be implemented soon (and it wo

[2022-06-28 16:06] niravpeak commented on #105
Yes @Brooke-white it has worked 👍

[2022-06-29 06:44] ni-todo-spot commented on #111
@Brooke-white Wow that would be amazing!
We are definitely going to use this 😃

Thank you very much 👏

[2022-06-29 16:55] Brooke-white commented on #110
Hey @raphaelvignes,

I looked at the [redshift tests](https://github.com/ToucanToco/weaverbird/blob/a513bc6cd215b667f4c1a0511bc3d338b7ae94bf/server/tests/backends/sql_translator/test_sql_redshift_translator_steps.py), as well as the CI log a bit more and am wondering if this issue could have to do with database locks.

As the CI **is able to connect**, but sees issue with this [drop table stmt](ht

[2022-06-30 02:59] romgrk opened #113 "Error handling after invalid query"
## Driver version
Unsure

## Redshift version
Version: `PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38698`

## Client Operating System
Various

## Python version
Version: `3.7`

## Table schema
Irrelevant

## Problem description
After sending an invalid query to the database, all subsequent queries fail with the following erro

[2022-06-30 16:08] Brooke-white commented on #113
hey @romgrk , you need to `rollback` following the invalid query. More on [rollback](https://docs.aws.amazon.com/redshift/latest/dg/r_ROLLBACK.html) can be read here. Please let me know if you have any questions.

[2022-06-30 16:21] Brooke-white commented on #113
to rollback using redshift_connector: `self._redshift_client_connection.rollback()` or `cursor.execute('rollback')`

please note, that if you're making changes to the database (e.g. inserting data, creating/dropping tables/schemas, etc.), using rollback will wipe out all of the changes you've made since opening the connection. So you'd want to use `self._redshift_client_connection.autocommit = Tru

[2022-06-30 18:55] romgrk commented on #113
Ok, thanks.

[2022-06-30 18:55] #113 closed

[2022-07-01 16:35] Brooke-white commented on #105
Hi @niravpeak  -- we've released v2.0.908 today which supports receiving column names as `str`. As such, I'll be closing this issue, but feel free to open a new one if you see any issue or need additional help. Thanks again for bringing this to our attention so we could work to resolve it :)

[2022-07-01 16:35] #105 closed

[2022-07-01 16:36] Brooke-white commented on #111
Hi @ni-todo-spot -- we've just released v2.0.908 which includes support for this feature as noted above.

[code]

I'll be closing this issue but feel free to open a new one if you see any issue with this feature or need any help. Thanks again for working with us to improve redshift-connector! :)

[2022-07-01 16:36] #111 closed

[2022-07-03 07:25] ni-todo-spot commented on #111
@Brooke-white SUPER!
Thank you very much for your quick response :)
We'll definitely going to use this feature!

[2022-07-04 09:02] raphaelvignes commented on #110
Ok, I'll check that, thanks!

[2022-07-08 22:44] CarlosAdp opened #116 "Error opening sqlalchemy connection using latest version (2.0.908)"
## Driver version
2.0.908

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.38698

## Client Operating System
Windows 11 Pro, Version 21H2, OS Build 22000.739

## Python version
Python 3.8.10

## Table schema
Not necessary

## Problem description
1. Expected behaviour:
The following sequence of Python statements

[2022-07-08 23:29] Brooke-white commented on #116
Hey @CarlosAdp -- thanks for the heads up, and appologies for the inconvenience. We are already aware of this issue and anticipate a fix in our next release. Looks like a change we added in 2.0.908 broke fetching the column descriptions when using sqlalchemy.

[2022-07-09 00:51] ad-m-ss commented on #109
@Brooke-white the use of profiles that must be saved to disk as a file is not an effective solution to the issue. This interferes with multi-threaded access to multiple AWS accounts (of multiple customers in a multi-tenant environment) via multiple AWS roles.

I work with an AWS partner (ISV) where we need to access a consumer AWS account. We use AWS account access to access the consumer's Redshif

[2022-07-09 13:46] CarlosAdp commented on #116
Thank you!

[2022-07-11 20:20] Brooke-white commented on #116
For now, a workaround is to do the following
`engine.dialect.description_encoding = None`

[2022-07-11 21:01] janyewest opened #117 "get_columns for tablename with surrounding 'single quotes'"
redshift_connector cursor.get_columns() is not able to find my table which is named 'some_table' (WITH the surrounding single quotes.)

What can I do? thank you.

[2022-07-11 21:24] Brooke-white commented on #117
Hey @janyewest , could you please provide the information requested in the issue template such as a code snippit and redshift_connector version so we can better assist you?

In the meantime, I'd recommend to look at the [source code for get_columns()](https://github.com/aws/amazon-redshift-python-driver/blob/80c416bde2192ebce23e075247937fa12bc8ccfa/redshift_connector/cursor.py#L1102) to self confi

[2022-07-12 07:49] #110 closed

[2022-07-21 16:12] Brooke-white commented on #116
Hey @CarlosAdp and all others impacted by this -- we've just released a new version of sqlalchemy-redshift with this fix, so the workaround mentioned above should no longer be needed

https://pypi.org/project/sqlalchemy-redshift/0.8.10/
https://github.com/sqlalchemy-redshift/sqlalchemy-redshift/blob/main/CHANGES.rst

[2022-07-25 21:08] pierresouchay opened #118 "Change dependencies on requests"
The dependencies built in the lib do block the maximum version of requests and pytz as seen here:

https://github.com/aws/amazon-redshift-python-driver/blob/master/requirements.txt#L5

While it make perfect sense for major number, it forces the dependencies not to take into account minor patches, for instance, requests has a minor version 2.8.1, and this library is blocking us from using it.

Woul

[2022-07-25 21:34] Brooke-white commented on #118
Hey @pierresouchay ,

thanks for reaching out with this inquiry. we can make this change apart of our next release, slated for mid/end August. thank you for brining this to our attention :)

[2022-07-26 16:18] Brooke-white commented on #118
thanks for the pr, Pierre! I'll tag you in an update here once this is merged

[2022-08-03 18:50] ad-m-ss opened #122 "DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives"
## Driver version

Apply to master too.

## Redshift version

N/A

## Client Operating System

N/A
## Python version

3.10

## Table schema

N/A
## Problem description

Library raises deprecation warning:

[code]

## Python Driver trace logs

## Reproduction code

Just import connector

[2022-08-03 19:15] Brooke-white commented on #122
Hey @ad-m-ss , thanks for the heads up about this. we will work to fix in next release.

[2022-08-03 19:15] #116 closed

[2022-08-03 20:12] Brooke-white commented on #104
closing in favor of sqlalchemy-redshift issue

[2022-08-03 20:12] #104 closed

[2022-08-13 18:12] mdeshmu opened #123 "cannot connect to redshift from superset ui when using iam authentication"
## Driver version
Redshift Python Driver 2.0.908

## Redshift version
1.0.37493

## Client Operating System
Linux-4.14.281-212.502.amzn2.x86_64-x86_64-with-glibc2.2.5

## Python version
3.8.12

## Problem description
I am trying to connect to redshift via redshift_connector using passwordless IAM Authentication.
It works fine when i directly login to ecs container where superset is hosted and crea

[2022-08-14 12:29] mdeshmu commented on #123
Stack trace of sqlalchemy-redshift + redshift_connector
[code]

[2022-08-15 18:39] iggarish commented on #123
Thanks for reporting issue. We will take a look and get back to you.

[2022-08-16 12:12] JAGalvis opened #124 "Incorrect buffer size calculation leads to failed query execution"
## Driver version
2.0.908

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.40677

## Client Operating System
ubuntu:20.04

## Python version
3.9.12

## Table schema
NA

## Problem description
Error is raised every time a query lasts more than 5 minutes. Works fine on simpler/faster queries.

1. Expected behavio

[2022-08-16 18:22] iggarish commented on #124
Thanks for reporting issue. We will look into it and get back to you.

[2022-08-17 01:39] mdeshmu commented on #123
thanks @iggarish for the reply. Please let me know once you find the root cause of the issue and resolution plan.

[2022-08-22 02:25] mdeshmu commented on #123
@iggarish we are waiting for this issue to be resolved. Please let us know if there are any updates on this issue and any ETA to fix this. Thanks.

[2022-08-22 16:39] Brooke-white commented on #123
Hi @mdeshmu ,

thank you for providing the log and stack trace. this information is very helpful in debugging this issue.

I notice that the log shows the `'host'` is unset when attempting to establish a connection. Are you are manually removing the value of `'host'` from the log? If this is not the case, please let me know and I can continue to investigate.

If a value for `host` is present, this

[2022-08-22 16:42] Brooke-white commented on #123
I assume you're pulling from AWS default profile as that's the default way to get credentials given your connection parameters. I tried to reproduce this (passwordless IAM auth using credentials from AWS default profile) using redshift_connector directly but could not.

Could the AWS default profile not be present when you're using the superset UI?

[2022-08-22 19:48] Brooke-white commented on #124
I'm unable to reproduce this issue using redshift_connector==2.0.908 and Redshift server version 1.0.40325. I recommend you look into the Docker container configuration to ensure tcp keepalive is sufficiently large enough that there is not a timeout.

[code]

[code]

[2022-08-23 02:17] mdeshmu commented on #123
@Brooke-white Thank you so much for the detailed reply.

This issue is independent of Apache Superset.

We have a Fargate ECS task with IAM role having following permissions.

[code]

I am not specifying the host in connection. I am just specifying cluster_identifier. redshift_connector when used with iam=True gets the cluster hostname using `redshift:DescribeClusters`.

I login to ECS Task using

[2022-08-23 02:44] mdeshmu commented on #123
But if use redshift_connector behind sqlalchemy-redshift then it doesn't work. Below are commands I am running directly from ECS task using ecs exec and not from Apache Superset UI (Hence no relation with Apache Superset).

[code]

So either this is an issue with redshift_connector or sqlalchemy-redshift.

[2022-08-23 16:37] Brooke-white commented on #123
Hey @mdeshmu , thanks for the continued explanation. Reviewing the logs from the non-working example I see the IAM authentication workflow is not invoked, and there is no call to describeCluster being made, and therefore `host` is unset when we attempt to connect. This is likely why issue is seen here.

I believe this issue is happening due to how `connect_args` is defined

`

Could you try passin

[2022-08-24 01:03] mdeshmu commented on #123
Thanks a lot @Brooke-white for pointing that out. I can connect now from Superset to Redshift using redshift_connector via IAM authentication.

[2022-08-24 01:03] #123 closed

[2022-08-29 13:56] JAGalvis commented on #124
We are looking into the Docker OS with no luck yet.
Will report back in the following days as soon as we have news.

[2022-09-01 15:11] qais-cisco opened #125 "Make dependencies optional"
## Driver version
2.0.908

## Problem description
In order to use the connecter, we have to pull in [dependencies we don't need](https://github.com/obsrvbl/onworker/pull/3740/commits/104c01c6ad9664ae99b6813dfeb3bcac921c654e#diff-0940fec0afe21798f617cc4522db676f15769ae28a72992b8d19216ef7b1c3b5R73)

This should be optional and not a requirement.

[2022-09-01 15:55] Brooke-white commented on #125
Hi @qais-cisco, thanks for opening this issue. Could you please share which dependencies you are referring to?

[2022-09-01 16:32] qais-cisco commented on #125
@Brooke-white , updated the issue with the dependencies.

[2022-09-01 17:06] Brooke-white commented on #125
@qais-cisco , to give some context these dependencies are used in the following ways:

- scramp: [here](https://github.com/aws/amazon-redshift-python-driver/blob/80c416bde2192ebce23e075247937fa12bc8ccfa/redshift_connector/core.py#L18) for authentication with redshift
- lxml, beautifulsoup4, soupsieve: [here](https://github.com/aws/amazon-redshift-python-driver/blob/80c416bde2192ebce23e075247937fa1

[2022-09-01 20:33] Brooke-white commented on #125
Thanks for the feedback, @mjschultz. I will discuss with the redshift_connector product team

[2022-09-02 12:23] Paul-office opened #126 "Redshift Connectore driver issue (2.0.908)"
## Driver version
Redshift Python Driver 2.0.908

## Redshift version
PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.40677

## Client Operating System
Linux-4.14.281-212.502.amzn2.x86_64-x86_64-with-glibc2.26

## Python version
3.9.12

## Table schema

## Problem description
While executing queries with version 2.0.908 , Error Wh

[2022-09-02 16:00] Brooke-white commented on #126
Hey @Paul-office , could you provide a repro for this issue? Are you using superset w/ redshift connector when this issue is seen?

[2022-09-05 08:58] bneijt opened #127 "Using deprecated pkg_resources instead of importlib"
## Driver version
2.0.908

## Redshift version
none, used via aws wrangler

## Client Operating System
Linux

## Python version
Python 3.9.12

## Table schema
none

## Problem description
Setuptools pkg_resources has been deprecated in [favor of importlib](https://setuptools.pypa.io/en/latest/pkg_resources.html). I would expect the code to work without pkg_resources, for example by using a compati

[2022-09-05 09:29] bneijt opened #128 "[Feature] Use Python Poetry for development"
Would the team be open to use Python Poetry for development, like [aws-sdk-pandas](https://github.com/aws/aws-sdk-pandas/blob/main/pyproject.toml) is doing?

[2022-09-06 08:42] JAGalvis commented on #124
Thanks a lot Brooke, as you pointed it seems to be a problem with docker.
We have not been able to fix it but we don't think is related to the library as we are having similar issues with long queries while using other libraries as well.

If we find a way to fix it I'll post it.

[2022-09-06 16:10] Brooke-white commented on #127
Hey @bneijt , thanks for the heads up. we will resolve this in the next release :)

[2022-09-06 16:35] Brooke-white commented on #124
thanks for the update and persistence in investigating this, Javier. I'll keep this issue open for now incase anyone else is hitting something similar.

[2022-09-21 08:31] shinjitakashi opened #130 "Does this api support for redshift serverless????"
I tried to connect my redshift serverless in my local environment by amazon-redshift-python-driver.

But I faced to timedout whiie runnig.

I thought my connect condition might be false or this api does not support for redshift serverless.

So please someone tell me about this program.

[2022-09-21 13:08] domcorvasce opened #131 "Publish new release to ease constraints on deps"
## Problem description

The latest version of the module (`2.0.908`) has strict constraints on the `requests` module (see https://github.com/aws/amazon-redshift-python-driver/issues/118). I see the constraints have already been eased and the changes have been merged on `master`. Would it be possible to publish a new version of this module?

[2022-09-21 16:09] Brooke-white commented on #131
Hi @domcorvasce , apologies for the delay in releasing. we are planning to release early October. If this is a blocker for you please advise and we can work to expedite the release.

[2022-09-22 05:12] domcorvasce commented on #131
Thanks @Brooke-white! It would be great if you could expedite the release since we really need to use this library but in the meantime the “workaround” is installing the module directly from the GitHub repo.

[2022-09-22 16:03] Brooke-white commented on #131
@domcorvasce , thank you for sharing this. I'll work to expedite the release. There's one remaining issue, #127, I'm hoping to wrap up work on so we can fit in this release. Once I make that change I'll release ASAP. Thank you for your patience :)

[2022-09-22 16:07] #117 closed

[2022-09-22 21:39] Brooke-white commented on #131
@domcorvasce , we just released v2.0.909 of redshift_connector. You should be unblocked now :) . I will update the project GitHub so you may view the changelog shortly.

[2022-09-22 21:49] Brooke-white commented on #127
[2.0.909](https://github.com/aws/amazon-redshift-python-driver/releases/tag/v2.0.909) has been released with this fix.

[2022-09-22 21:49] #127 closed

[2022-09-22 21:49] Brooke-white commented on #131
[2.0.909](https://github.com/aws/amazon-redshift-python-driver/releases/tag/v2.0.909) has been released with this fix.

[2022-09-22 21:49] #131 closed

[2022-09-22 21:49] Brooke-white commented on #122
[2.0.909](https://github.com/aws/amazon-redshift-python-driver/releases/tag/v2.0.909) has been released with this fix.

[2022-09-22 21:49] #122 closed

[2022-09-26 11:00] shinjitakashi commented on #130
Thanks!!

[2022-09-26 11:00] #130 closed

[2022-09-28 15:50] sblumin opened #134 "version function in importlib.metadata returns None and causes TypeError"
## Driver version
JupyterLab
IPython          : 7.32.0
ipykernel        : 6.5.1
ipywidgets       : 7.6.5
jupyter_client   : 7.1.0
jupyter_core     : 4.9.1
jupyter_server   : 1.12.1
jupyterlab       : 3.2.4
nbclient         : 0.5.9
nbconvert        : 6.3.0
nbformat         : 5.1.3
notebook         : 6.4.6
qtconsole        : 5.2.1
traitlets        : 5.1.1

## Redshift version
N/A

## Client Operatin

[2022-09-28 16:26] Brooke-white commented on #134
@sblumin , what version of redshift_connector are you using?

[2022-09-28 16:37] Brooke-white commented on #134
Tthis looks to be the latest driver release. I just tried to repro in Pycharm and am unable to see this issue using Python 3.8.2. I will continue to look into this, but in the meantime I'd recommend downgrading the version of redshift_connector you're using to avoid this issue.

[2022-09-28 17:26] Brooke-white commented on #134
In JupyterLab with Python3.8.5 and the following, I was unable to repo

[code]

will get my env inline with yours and continue looking

[2022-09-30 16:42] WillAyd commented on #107
For any readers that may come across the same issue, I've noticed that while the traceback in Python truncates this error message you can still get the full error message if you query SVL_S3LOG . Might help as a workaround

[2022-10-03 16:07] sblumin commented on #134
Output of `!pip show redshift_connector` in conda_python3 kernel in JupyterLab
[code]

[2022-10-04 11:00] LMalikov commented on #124
I'm hitting a similar issue, I'm not using Docker and my queries are not long running.
Initially connection works fine and queries go through, then in about 10 minutes any query results in:
[code]
All subsequent queries fail with a different error:
[code]
Driver 2.0.909, Python 3.10, macOS, Redshift 1.0.41881

The same also observed from inside the Docker environment.

[2022-10-18 17:09] Brooke-white commented on #125
I've added this item to our roadmap but no clear ETA at this time. Will provide updates here as needed.

[2022-10-24 20:54] sblumin commented on #134
Hi team, any update here? Additionally, do you have any recommendation on which version of redshift_connector to downgrade to?

[2022-10-27 13:54] chelo-kjml commented on #124
I am having the same issue here using:

 "redshift_connector==2.0.908",
 "python 3.8.1",
 "PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.41881"

Here is my stack trace for this error in case it helps finding the cause:

`1666876698965,Traceback (most recent call last):
1666876698965,"  File ""/usr/local/lib/python3.8/site-packag

[2022-11-07 19:01] Brooke-white commented on #134
Hi @sblumin, the team was unable to reproduce this issue when configuring our environment inline with yours. We introduced the use of `importlib.metadata` in `2.0.909`. Could you please try to use `2.0.908` and let us know if you still see the issue?

[2022-11-15 15:25] justbldwn commented on #107
i am hitting the same error here where the python traceback truncates the actual error message and doesn't include all relevant details. `SVL_S3LOG` is a fine work around, but for my usecase is not the most intuitive way of delivering information.

is there any update on this ticket?

[2022-11-19 19:49] avishwakarma-tunein opened #140 "redshift_connector.error.ProgrammingError when running AnalyzeVacuumUtility"
## Driver version
2.0.908, 2.0.909

## Redshift version
`PostgreSQL 8.0.2 on i686-pc-linux-gnu, compiled by GCC gcc (GCC) 3.4.2 20041017 (Red Hat 3.4.2-6.fc3), Redshift 1.0.43931`

## Client Operating System
[Docker Image python:3.8-slim](https://github.com/awslabs/amazon-redshift-utils/blob/master/Dockerfile)

## Python version
python 3.8

## Problem description
1. Expected behaviour:
I am trying

[2022-11-21 23:02] Brooke-white commented on #140
Hey @avishwakarma-tunein , thanks for reaching out. this is an interesting error, I'd be interested to see the query that's been issued.

[code]

tells me that when Redshift server received the query it is finding some sort of syntax error in it, which means either AnalyzeVacuumUtility has written an incorrect query or that redshift-connector malforms the query somehow. Given the link where the ex

[2022-11-21 23:11] Brooke-white commented on #107
Hi @justbldwn -- unfortunately I do not have any update from my end. As many engineers are on holiday this week I will ping the team again next week for an update on this.